---
import Layout from '../../layouts/Layout.astro';
export function getStaticPaths() {
  return [
    {params: {invitado: '1'}},
    {params: {invitado: '2'}},
  ];
}

const { invitado } = Astro.params;

const characterRequest = await fetch(`https://rickandmortyapi.com/api/character/${invitado}`);
const characterInfo = await characterRequest.json();
---
<Layout>
	<main>
		<h1>Daniel y Ayde se van a <span class="text-gradient">casar Xddddd</span></h1>

		{invitado && <p>bienvenido {invitado}</p>}
		{characterInfo && <p>y también bienvenido {characterInfo.name}</p>}
		vas a venir o que?
		<input type="checkbox">
		<button>Que si que no</button>

		
	</main>
</Layout>