---
import Layout from '../../layouts/Layout.astro';
export function getStaticPaths() {
  return [
    {params: {invitado: 'daniel'}},
    {params: {invitado: 'ayde'}},
  ];
}

const { invitado } = Astro.params;

---
<Layout title="Welcome to Astro.">
	<main>
		<h1>Daniel y Ayde se van a <span class="text-gradient">casar Xddddd</span></h1>

		{invitado && <p>bienvenido {invitado}</p>}
		vas a venir o que?
		<input type="checkbox">
		<button>Que si que no</button>

		
	</main>
</Layout>