---
import AceptarSVG from "../../components/Aceptar-SVG.astro";
import RechazarSVG from "../../components/Rechazar-SVG.astro";
export function getStaticPaths() {
    return [
        {params: {id: 'D2890F0A-20EA-11EE-A7FD-02F233CDF429'}},
        {params: {id: 'C941D84E-20E9-11EE-A7FD-02F233CDF429'}},
        {params: {id: '1FACD7A0-2193-11EE-A7FD-02F233CDF429'}},
        {params: {id: '211091E3-2CA8-11EE-A7FD-02F233CDF429'}},
    ]
}

const {id} = Astro.params
---

<button type="button" id="rechazar" name="invitado_id" value={id} class="rechazar"
hx-post="http://localhost:8080/asistencia/rechazar" hx-swap="outerHTML" hx-ext="json-enc">
    <RechazarSVG></RechazarSVG> 
</button>