<div class="container-dresscode">
    <div class="deco1">
        <picture class="deco1-flores">
            <source srcset="/img/SeparadorHorizontal_1.png">
            <img src="/img/SeparadorHorizontal_1.png" alt="Decoracion Floral">
        </picture>
    </div>
    <div class="titulo-dresscode">
        <h1>
            DRESSCODE
        </h1>
        <h2>
            Formal
        </h2>
    </div>
    <div class="colores">
        <h4>COLORES RESERVADOS</h4>
        <div class="color c1"></div>
        <div class="color c2"></div>
        <div class="color c3"></div>
    </div>
    <div class="dress-figura mujer">
        <h4 class="titulo-mujer-hombre">MUJERES</h4>
        <picture class="figura">
            <source srcset="/img/DCMujer.png">
            <img src="/img/DCMujer.png" alt="Decoracion Floral">
        </picture>
        <p class="indicacion-desscode">Vestido largo</p>
    </div>
    <div class="hom-muj-separador"></div>
    <div class="dress-figura hombre">
        <h4 class="titulo-mujer-hombre">HOMBRES</h4>
        <picture class="figura">
            <source srcset="/img/DCHombre.png">
            <img src="/img/DCHombre.png" alt="Decoracion Floral">
        </picture>
        <p class="indicacion-desscode">Traje</p>
    </div>
    <div class="deco2">
        <picture class="deco2-flores">
            <source srcset="/img/SeparadorHorizontal_1.png">
            <img src="/img/SeparadorHorizontal_1.png" alt="Decoracion Floral">
        </picture>
    </div>    
</div>


<style>
    .container-dresscode{
        width: 100%;
        height: 100%;
		display: grid;
		grid-template-areas: 
		"deco1 titulo colores colores deco2"
		"deco1 titulo mujer hombre deco2";
		grid-template-columns: 15vw 25vw 22.5vw 22.5vw 15vw;
		grid-template-rows: 30vh 70vh;
	}

	.deco1 {
		grid-area: deco1;
		border-right: solid 3px var(--accent);
	}
	.deco1 picture{
		position: relative;
		top: 50%;
		right: 0px;
	}
	.deco1 picture img{
		width: 40vw;
		scale: 1;
		object-fit: cover;	
		rotate: 90deg;
		translate: -8.2vw -50%;
	}
	.titulo-dresscode {
		grid-area: titulo;
		border-right: solid 3px var(--accent);
	}
	.titulo-dresscode h1{
		position: relative;
		top: 40vh;
		left: 1.5vw;
		font-size: 3.4vw;
		color: var(--accent-light);
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
	}
	.titulo-dresscode h2{
		position: relative;
		top: 28vh;
		left: 8vw;
		font-size: 5.5vw;
		color: var(--accent);
		font-family: 'Great Vibes', sans-serif;;
		font-weight: 100;
	}
	.colores {
		grid-area: colores;
		border-bottom: solid 3px var(--accent);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		column-gap: 4vw;
	}
	.colores h4{
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
		font-weight: 500;
		color: var(--accent);
		font-size: 2vw;
		width: 100%;
		text-align: center;
		margin-bottom: .5vh;
	}
	.colores .color{
		width: 6vw;
		height: 6vw;
		scale: 1;
		border-radius: 50%;
	}
	.colores .c1{
		background-color: white;
	}
	.colores .c2{
		background-color: var(--accent-light);
	}
	.colores .c3{
		background-color: var(--secondary);
	}

	.dress-figura {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 2em;
	}
	.mujer {
		grid-area: mujer;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
	}
	.hombre {
		grid-area: hombre;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
	}
	.hom-muj-separador{
		position: absolute;
		top: 35vh;
		left: 62.5vw;
		height: 60vh;
		border-left: solid 3px var(--accent);
	}
	.figura{
	}
	.figura img{
		height: 40vh;
		object-fit: cover;	
	}
	.titulo-mujer-hombre{
		font-size: 4vh;
		font-weight: 500;
		color: var(--accent)
	}
	.indicacion-desscode{
		position: relative;
		font-size: 3vh;
		color: var(--accent)		
	}
	.deco2 {
		grid-area: deco2;
		border-left: solid 3px var(--accent);
	}
	.deco2 picture{
		position: relative;
		top: 50vh;
		left: 0px;
	}
	.deco2 picture img{
		width: 40vw;
		scale: 1;
		object-fit: cover;	
		rotate: y 180deg;
		transform: rotate(90deg);
		translate: -16.8vw -50%;
	}

	@media (max-width: 430px){
		.container-dresscode{
			display: grid;
			grid-template-areas: 
			"deco1 deco1" 
			"titulo titulo"
			"colores colores"
			"mujer hombre"
			"deco2 deco2";
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1.3fr 1.8fr 4.4fr 1fr;
		}

		.deco1 {
			border-right: none;
			border-bottom: solid 3px var(--accent);
		}
		.deco1 picture{
			top: 3vh;
			right: 0px;
		}
		.deco1 picture img{
			width: 100vw;
			rotate: 180deg;
			translate: 0 0;
		}

		.titulo-dresscode {
			border-right: none;
			border-bottom: solid 3px var(--accent);
		}
		.titulo-dresscode h1{
			font-size: 1.8em;
			top: 18%;
			left: 20%;
		}
		.titulo-dresscode h2{
			font-size: 3em;
			top: calc(20% - 1.15em);
			left: 48%;
		}
		.colores {
			justify-content: center;
			column-gap: 4vw;
		}
		.colores h4{
			font-size: 1.2em;
			font-weight: 600;
		}
		.colores .color{
			width: 8vh;
			height: 8vh;
		}

		.hom-muj-separador{
			top: 46.5vh;
			left: 50vw;
			height: 40vh;
		}
		.figura{
		}
		.figura img{
			height: 22vh;
		}
		.titulo-mujer-hombre{
			font-size: 1.5em;
		}
		.indicacion-desscode{
			font-size: 1.2em;
		}
		.deco2 {
			border-left: none;
			border-top: solid 3px var(--accent);
		}
		.deco2 picture{
			top: 3.7vh;
			left: 17vw;
		}
		.deco2 picture img{
			width: 100vw;
			rotate: -90deg;
		}
	}
</style>