---
import Layout from '../layouts/Layout.astro';


---

<Layout>
	<div class="seccion seccion-main">
	</div>
	<div class="seccion seccion-our-story">
	</div>
	<div class="seccion seccion-info">
	</div>
</Layout>


<style>
	.seccion {
		width: 100%;
		height: 100vh;
	}
	.seccion-main {
		background-color: #da62c4;
	}
	.seccion-our-story {
		background-color: blue;
	}
	.seccion-info {
		background-color: chocolate;
	}
</style>
