<div class="deco-superior-container">
  <picture class="decoracion-info-superior decoracion-info-size">
    <source srcset="/img/DecoFlorarlLarga.png" />
    <img src="/img/DecoFlorarlLarga.png" alt="Decoracion Flores"  loading="lazy">
  </picture>
</div>
<div class="deco-inferior-container">
  <picture class="decoracion-info-inferior decoracion-info-size">
    <source srcset="/img/DecoFlorarlLarga.png" />
    <img src="/img/DecoFlorarlLarga.png" alt="Decoracion Flores" loading="lazy">
  </picture>
</div>

<div class="content-container">
  <div class="ceremonia-container">
    <svg
      class="iglesia"
      version="1.1"
      viewBox="0 0 175.34 175.21"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <clipPath id="2b15b7289d">
          <path d="m0 4h497.25v497.11h-497.25z"></path>
        </clipPath>
      </defs>
      <metadata>
        <rdf:RDF>
          <cc:Work rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"
            ></dc:type>
            <dc:title></dc:title>
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <g transform="translate(-43.488 -99.859)">
        <g
          transform="matrix(.35278 0 0 .35278 43.462 98.31)"
          clip-path="url(#2b15b7289d)"
        >
          <path
            d="m492.89 302.7-232.62-191.62v-52.734h23.801c14.523-0.55286 14.275-22.645 0-23.301h-23.801v-19.414c0.0553-15.092-23.223-14.889-23.281 0v19.414h-23.801c-14.525 0.55601-14.274 22.648 0 23.301h23.801v52.734l-232.62 191.62c-11.785 9.5653 3.211 27.546 14.824 18.082l43.059-35.488v204.12c0.14705 6.4232 5.302 11.617 11.664 11.641h113.21c6.4263-0.1388 11.586-5.2935 11.641-11.641v-98.746c-0.52563-64.528 99.601-64.104 99.719 0v98.656c0.15379 6.4046 5.283 11.616 11.641 11.641h113.21c6.4362-0.13077 11.609-5.2811 11.664-11.641v-204.12l43.059 35.488c11.684 9.6983 26.403-8.5642 14.824-18.082zm-81.188 174.98h-89.91v-87.016c0.93465-94.497-146.23-94.184-146.33 0v87.016h-89.91v-211.64l163.07-134.37 163.07 134.37z"
            fill="#6b1c18"></path>
        </g>
      </g>
    </svg>

    <div class="detalles-info">
      <h3>CEREMONIA</h3>
      <p>Parroquia San José de Torices</p>
      <p>Torices Cr 16 # 44-10</p>
      <span>4:30 P.M.</span>
    </div>

    <a
      href="https://www.google.com/maps/place/Parroquia+San+Jos%C3%A9+De+Torices/@10.4305892,-75.5342436,15z/data=!4m6!3m5!1s0x8ef62f85c4c655db:0x7a346b2519cb1b3f!8m2!3d10.4305892!4d-75.5342436!16s%2Fg%2F11ggs2yn4s?entry=ttu"
      target="_blank"
    >
      <picture class="mapa">
        <source srcset="/img/MapaParroquia.png" />
        <img src="/img/MapaParroquia.png" alt="Mapa Parroquia" loading="lazy">
      </picture>
    </a>

    <a
      href="https://www.google.com/maps/place/Parroquia+San+Jos%C3%A9+De+Torices/@10.4305892,-75.5342436,15z/data=!4m6!3m5!1s0x8ef62f85c4c655db:0x7a346b2519cb1b3f!8m2!3d10.4305892!4d-75.5342436!16s%2Fg%2F11ggs2yn4s?entry=ttu"
      target="_blank"
      class="link-maps">Ver en Google Maps</a
    >
  </div>

  <div class="recepcion-container">
    <svg
      class="copas"
      version="1.1"
      viewBox="0 0 184.32 175.24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <clipPath id="fdee752cab">
          <path d="m702 3.8555h129v109.14h-129z"></path>
        </clipPath>
        <clipPath id="3372317733">
          <path d="m955 104h69v15h-69z"></path>
        </clipPath>
        <clipPath id="dd435d12ab">
          <path d="m501.22 108h69.777v15h-69.777z"></path>
        </clipPath>
      </defs>
      <metadata>
        <rdf:RDF>
          <cc:Work rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"
            ></dc:type>
            <dc:title></dc:title>
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <g transform="translate(-13.677 -88.445)">
        <g
          transform="matrix(.35278 0 0 .35278 -163.25 87.067)"
          clip-path="url(#fdee752cab)"
        >
          <path
            d="m766.16 112.56c-2.582 0-4.6719-1.2188-8.3867-3.9453l-0.22266-0.16015c-10.484-7.0703-20.191-14.855-28.734-23.059-18.086-17.375-26.75-34.465-25.758-50.801 1-16.352 17.258-30.688 34.785-30.688 11.633 0 21.977 5.0781 28.441 12.898 6.4609-7.8203 16.805-12.898 28.441-12.898 19.535 0 35.43 14.309 35.43 31.898 0 30.945-31.23 59.465-60.457 75.836-1.0469 0.58203-2.3438 0.91796-3.5391 0.91796zm-28.32-94.687c-9.9766 0-20.297 8.707-20.84 17.574-0.91015 15.016 11.184 29.973 21.492 39.875 7.8555 7.543 17.184 15.023 26.98 21.629 0.12109 0.08203 0.30469 0.21484 0.56641 0.40234 0.0703 0.05469 0.14062 0.10547 0.20703 0.15625 23.754-14.086 49.938-37.895 49.938-61.703 0-9.8867-9.6289-17.934-21.461-17.934s-21.457 8.0469-21.457 17.934c0 3.8555-3.1289 6.9805-6.9883 6.9805-3.8555 0-6.9844-3.125-6.9844-6.9805 0-9.8867-9.625-17.934-21.453-17.934z"
            fill="#6b1c18"></path>
        </g>
        <g>
          <path
            d="m145.44 215.51c-13.652 0-25.401-9.6449-27.937-22.935-0.0551-0.28939-0.10335-0.58016-0.14883-0.8723-0.0276-0.0909-0.0524-0.18604-0.0717-0.28112l-9.9577-52.186c-0.12264-0.64216 0.0152-1.305 0.38309-1.8466 0.36657-0.54019 0.93432-0.91226 1.5765-1.0349l51.208-9.7675c1.3367-0.25494 2.6265 0.6215 2.8815 1.9582l9.751 51.094c0.21635 0.76205 0.38998 1.4897 0.53192 2.2186 2.9228 15.321-7.2953 30.183-22.778 33.136-1.7956 0.34314-3.6256 0.51677-5.4391 0.51677zm-23.385-25.386c0.0579 0.15709 0.0992 0.32108 0.12265 0.48782 0.0482 0.34727 0.10197 0.69454 0.16812 1.039 2.0932 10.969 11.806 18.931 23.095 18.931 1.5048 0 3.0248-0.14469 4.5172-0.42857 12.813-2.4446 21.274-14.722 18.861-27.365-0.11989-0.6146-0.2701-1.2389-0.46027-1.9003-0.0207-0.0717-0.0386-0.1447-0.051-0.21773l-9.31-48.783-46.367 8.8442z"
            fill="#6b1c18"
            style="stroke-width:.35278"></path>
          <path
            d="m145.44 215.51c-13.652 0-25.401-9.6449-27.937-22.935-0.0551-0.28939-0.10335-0.58016-0.14883-0.8723-0.0276-0.0909-0.0524-0.18604-0.0717-0.28112l-2.0009-10.487c-0.13367-0.70831 0.0482-1.44 0.50023-2.0037 2.486-3.0978 4.7239-6.6008 5.9269-8.4818 0.3266-0.50987 0.58154-0.90812 0.75241-1.1617 5.2366-7.7735 10.762-14.986 20.733-17.817 3.4988-0.99218 7.2209-1.4952 11.062-1.4952 4.1506 0 8.2448 0.58016 12.171 1.7253 0.88884 0.25907 1.5572 0.99494 1.7308 1.9044l4.9678 26.033c0.21635 0.76205 0.38998 1.4897 0.53192 2.2186 2.9228 15.321-7.2953 30.183-22.778 33.136-1.7956 0.34314-3.6256 0.51677-5.4391 0.51677zm-23.385-25.386c0.0579 0.15709 0.0992 0.32108 0.12265 0.48782 0.0482 0.34727 0.10197 0.69454 0.16812 1.039 2.0932 10.969 11.806 18.931 23.095 18.931 1.5048 0 3.0248-0.14469 4.5172-0.42857 12.813-2.4446 21.274-14.722 18.861-27.365-0.11989-0.6146-0.2701-1.2389-0.46027-1.9003-0.0207-0.0717-0.0386-0.1447-0.051-0.21773l-4.7005-24.628c-3.0344-0.75655-6.1736-1.1383-9.3486-1.1383-3.3872 0-6.6559 0.43959-9.7179 1.3078-8.3771 2.3785-13.104 8.5755-17.99 15.83-0.15709 0.23289-0.38998 0.59669-0.68626 1.0625-1.141 1.7832-3.1736 4.9637-5.5287 8.0105z"
            fill="#6b1c18"
            style="stroke-width:.35278"></path>
          <path
            d="m130.95 259.94c-0.0248-0.12678-6e-3 -0.26183 0.0593-0.40515 0.0648-0.14469 0.17363-0.2949 0.32521-0.45337 0.15296-0.15848 0.34864-0.32384 0.58704-0.49472 0.2384-0.17225 0.51953-0.35002 0.84199-0.5333 0.32383-0.18328 0.68764-0.37207 1.0914-0.56499 0.40377-0.19293 0.8475-0.38999 1.3284-0.59256 0.48094-0.20119 0.99908-0.40514 1.553-0.61323 0.55397-0.2067 1.141-0.41617 1.7625-0.62838 0.6215-0.21222 1.2733-0.42444 1.9554-0.63804 0.68213-0.21359 1.3918-0.42719 2.1291-0.64216 0.73725-0.2136 1.4979-0.42582 2.2834-0.63803 0.7841-0.21084 1.5889-0.42168 2.4143-0.62839 0.82406-0.20808 1.666-0.41341 2.5218-0.6146 0.85714-0.2012 1.7267-0.39963 2.6072-0.59256 0.88056-0.1943 1.768-0.38309 2.6651-0.56637 0.89573-0.18328 1.7956-0.36243 2.6982-0.5333 0.90262-0.17226 1.8038-0.33762 2.7051-0.49748 0.90124-0.15847 1.7956-0.31006 2.6858-0.45337 0.89021-0.14469 1.7708-0.27974 2.6417-0.4079s1.7281-0.24667 2.5714-0.35691c0.84335-0.11025 1.6688-0.21222 2.4763-0.30317 0.80753-0.0923 1.5944-0.17501 2.3578-0.24667 0.76481-0.073 1.5034-0.13505 2.2159-0.18741 0.71382-0.0524 1.3973-0.0937 2.0533-0.12678 0.65595-0.0317 1.2788-0.0524 1.8714-0.0634 0.59118-0.011 1.1479-0.011 1.6688-1e-3 0.52227 0.011 1.006 0.0317 1.4538 0.062 0.44649 0.0317 0.85439 0.073 1.2223 0.12403 0.36793 0.0524 0.69453 0.11437 0.97978 0.18603 0.28526 0.0717 0.52779 0.15296 0.7276 0.24391 0.19982 0.0909 0.35554 0.19155 0.46854 0.30179 0.113 0.10887 0.18052 0.22738 0.20533 0.35554 0.0248 0.12678 4e-3 0.26182-0.0606 0.40514-0.0634 0.14469-0.17225 0.2949-0.32384 0.45337-0.15296 0.15848-0.34864 0.32384-0.58704 0.49472-0.23978 0.17226-0.51952 0.35002-0.84336 0.5333-0.32246 0.18328-0.68626 0.37207-1.09 0.565-0.40514 0.19292-0.84749 0.39136-1.3284 0.59255-0.48231 0.2012-0.99907 0.40515-1.553 0.61323-0.55397 0.2067-1.1424 0.41755-1.7639 0.62838-0.62011 0.21222-1.2719 0.42444-1.9554 0.63804-0.68213 0.21359-1.3918 0.42719-2.1291 0.64216-0.73725 0.2136-1.4979 0.42582-2.282 0.63803-0.78548 0.21222-1.5903 0.42168-2.4143 0.62839-0.82545 0.20808-1.666 0.41341-2.5232 0.6146-0.85714 0.2012-1.7253 0.39963-2.6059 0.59256-0.88057 0.1943-1.7694 0.3831-2.6651 0.56638-0.89572 0.18327-1.7956 0.36242-2.6982 0.53467-0.90261 0.17088-1.8052 0.33625-2.7051 0.4961-0.90123 0.15847-1.797 0.31006-2.6872 0.45337-0.89021 0.1447-1.7708 0.27974-2.6417 0.4079s-1.7281 0.24667-2.5714 0.35691c-0.84336 0.11025-1.6688 0.21222-2.4763 0.30317-0.80753 0.0923-1.593 0.17501-2.3578 0.24667-0.76343 0.073-1.5021 0.13505-2.2159 0.18741-0.71245 0.0524-1.3973 0.0951-2.0533 0.12678-0.65457 0.0317-1.2788 0.0524-1.87 0.0634s-1.1479 0.011-1.6702 1e-3c-0.5209-0.011-1.006-0.0317-1.4524-0.062-0.44649-0.0317-0.85438-0.073-1.2223-0.12402-0.36794-0.0524-0.69453-0.11438-0.97979-0.18604-0.28525-0.0717-0.52779-0.15296-0.7276-0.24391-0.19982-0.091-0.35691-0.19155-0.46853-0.30179-0.113-0.10887-0.18191-0.22738-0.20533-0.35553z"
            fill="#f9eae6"
            style="stroke-width:.35278"></path>
          <path
            d="m136.78 263.69s1e-3 0 0 0c-3.9536 0-7.6895-0.39687-8.2379-3.2825-0.51539-2.7051 1.972-4.6233 9.175-7.079 5.1718-1.7625 12.135-3.5181 19.607-4.943 8.9862-1.7143 17.351-2.6968 22.95-2.6968 3.9536 0 7.6881 0.39687 8.2379 3.2811 0.51539 2.7065-1.9706 4.6247-9.175 7.0804-5.1704 1.7625-12.134 3.5181-19.605 4.943-8.9862 1.7143-17.352 2.6968-22.951 2.6968zm43.083-13.072c-5.2393 0.0482-13.269 1.0156-21.615 2.6086-9.9357 1.8934-16.98 3.9729-21.059 5.5342 5.2379-0.0482 13.27-1.0156 21.617-2.6072 9.9329-1.8962 16.976-3.9743 21.056-5.5356z"
            fill="#6b1c18"
            style="stroke-width:.35278"></path>
          <path
            d="m150.41 212.57 7.3698 38.228"
            fill="#f9eae6"
            style="stroke-width:.35278"></path>
        </g>
        <g fill="#6b1c18">
          <path
            d="m157.78 253.27c-1.1576 0-2.1883-0.81856-2.4157-1.9968l-7.3698-38.228c-0.25769-1.3367 0.61598-2.6279 1.9527-2.8856 1.3326-0.25907 2.6279 0.61598 2.8856 1.9527l7.3698 38.228c0.25769 1.3353-0.61736 2.6279-1.9527 2.8856-0.15848 0.0303-0.31557 0.0441-0.46991 0.0441z"
            style="stroke-width:.35278"></path>
          <path d="m118.98 145.86 0.98392 5.158" style="stroke-width:.35278"
          ></path>
          <path
            d="m119.97 152.78c-0.8282 0-1.5668-0.58705-1.7267-1.4304l-0.98392-5.158c-0.1819-0.9536 0.4451-1.8769 1.3987-2.0574 0.9536-0.18328 1.8769 0.44373 2.0588 1.3987l0.98393 5.158c0.18328 0.95498-0.44511 1.8769-1.3987 2.0574-0.11162 0.0221-0.22325 0.0317-0.33211 0.0317z"
            style="stroke-width:.35278"></path>
          <path d="m121.1 156.93 2.3454 12.288" style="stroke-width:.35278"
          ></path>
          <path
            d="m123.44 170.98c-0.82821 0-1.5668-0.58704-1.7267-1.4304l-2.3454-12.288c-0.1819-0.9536 0.44511-1.8769 1.3987-2.0574 0.95636-0.18328 1.8769 0.44373 2.0602 1.3987l2.344 12.287c0.18328 0.95498-0.44373 1.8769-1.3987 2.0588-0.11024 0.0207-0.22186 0.0317-0.3321 0.0317z"
            style="stroke-width:.35278"></path>
          <path
            d="m63.824 215.51c-1.8121 0-3.6422-0.17363-5.4391-0.51539-15.482-2.9531-25.7-17.815-22.78-33.129 0.13918-0.72485 0.31419-1.4538 0.53468-2.2283l9.7469-51.092c0.12402-0.64079 0.4961-1.2085 1.0363-1.5751 0.54156-0.36656 1.2072-0.50437 1.8466-0.3831l51.211 9.7675c0.64079 0.12264 1.2085 0.49471 1.5751 1.0349 0.36794 0.54157 0.50574 1.2044 0.38172 1.8466l-9.9577 52.186c-0.0179 0.0965-0.0427 0.19155-0.0717 0.28388-0.0441 0.28801-0.0923 0.57601-0.14607 0.86265-2.537 13.295-14.285 22.94-27.937 22.942zm-13.559-83.622-9.3059 48.783c-0.0152 0.0744-0.0331 0.14883-0.0537 0.22324-0.19292 0.66697-0.34313 1.2871-0.46026 1.8948-2.4116 12.645 6.0496 24.922 18.863 27.365 1.4924 0.28526 3.0124 0.42857 4.5158 0.42857 11.289 0 21.003-7.9623 23.095-18.93 0.0634-0.33624 0.11851-0.6835 0.16674-1.0308 0.0234-0.17777 0.0675-0.35002 0.12816-0.51539l9.4216-49.372z"
            style="stroke-width:.35278"></path>
          <path
            d="m63.824 215.51c-1.8121 0-3.6422-0.17363-5.4391-0.51539-15.482-2.9531-25.7-17.815-22.78-33.129 0.13918-0.72485 0.31419-1.4538 0.53468-2.2283l4.9664-26.031c0.17363-0.90951 0.84198-1.6454 1.7308-1.9044 3.926-1.1438 8.0216-1.7253 12.171-1.7253 3.8406 0 7.5627 0.50299 11.062 1.4952 9.9674 2.8305 15.495 10.043 20.733 17.817 0.17088 0.25356 0.42306 0.6463 0.74277 1.1479 1.2044 1.8838 3.4451 5.3909 5.9366 8.4956 0.452 0.56362 0.6339 1.2954 0.49885 2.0037l-1.9995 10.487c-0.0179 0.0965-0.0427 0.19155-0.073 0.28388-0.0441 0.28801-0.0923 0.57601-0.14469 0.86127-2.5384 13.297-14.286 22.942-27.938 22.943zm-18.167-59.468-4.6977 24.628c-0.0152 0.0744-0.0331 0.14883-0.0537 0.22324-0.19292 0.66697-0.34313 1.2871-0.46026 1.8948-2.4116 12.645 6.0496 24.922 18.863 27.365 1.4924 0.28526 3.0124 0.42857 4.5158 0.42857 11.289 0 21.003-7.9623 23.095-18.93 0.0634-0.33624 0.11989-0.6835 0.16674-1.0308 0.0234-0.17777 0.0675-0.35002 0.12816-0.51539l1.7157-8.9903c-2.362-3.0551-4.396-6.2411-5.537-8.0271-0.29353-0.45889-0.52228-0.81856-0.67662-1.0487-4.8879-7.2512-9.616-13.45-17.992-15.828-3.0606-0.86679-6.3293-1.3064-9.7166-1.3064-3.1778-1e-3 -6.3156 0.38172-9.35 1.1369z"
            style="stroke-width:.35278"></path>
        </g>
        <g>
          <path
            d="m78.3 259.95c-0.0248 0.12678-0.0937 0.24529-0.20533 0.35553-0.113 0.11024-0.26872 0.20946-0.46854 0.30179-0.20119 0.0909-0.44372 0.17226-0.72898 0.24392-0.28525 0.0716-0.61185 0.13366-0.97978 0.18465-0.36794 0.0524-0.77446 0.0937-1.2223 0.12403-0.44648 0.0317-0.93018 0.0524-1.4525 0.062-0.52227 0.011-1.079 0.01-1.6702-1e-3 -0.59117-0.01-1.214-0.0317-1.87-0.0634-0.65595-0.0317-1.3395-0.0744-2.0533-0.12678-0.71382-0.0524-1.4524-0.11438-2.2159-0.18604-0.76481-0.073-1.5503-0.15572-2.3578-0.24667-0.80753-0.0923-1.633-0.19292-2.4763-0.30317-0.84337-0.11024-1.7005-0.23013-2.5714-0.35828-0.87092-0.12679-1.7515-0.26321-2.6417-0.40653-0.89022-0.14469-1.7859-0.29627-2.6872-0.45475-0.89986-0.15847-1.8025-0.32384-2.7051-0.49609-0.90261-0.17226-1.8025-0.35003-2.6982-0.53468-0.89572-0.18328-1.7846-0.37207-2.6651-0.565-0.88057-0.1943-1.7501-0.39136-2.6059-0.59393-0.85714-0.20119-1.6977-0.40652-2.5232-0.61323-0.82407-0.20808-1.6288-0.41754-2.4143-0.62976-0.7841-0.21222-1.5462-0.42444-2.2834-0.63803-0.73725-0.2136-1.4469-0.4272-2.1291-0.64217-0.68213-0.21359-1.3339-0.42581-1.9554-0.63803-0.62149-0.21084-1.2085-0.4203-1.7625-0.62839-0.55397-0.2067-1.0721-0.41203-1.553-0.61322-0.48093-0.2012-0.92466-0.39825-1.3284-0.59256-0.40377-0.19292-0.76757-0.38172-1.0914-0.565-0.32246-0.18327-0.60358-0.36104-0.84198-0.53192-0.23978-0.17225-0.43546-0.33762-0.58705-0.49471-0.15296-0.15848-0.26045-0.31006-0.32522-0.45338-0.0648-0.14331-0.0841-0.27836-0.0606-0.40652 0.0248-0.12678 0.0937-0.24529 0.20533-0.35416 0.113-0.11024 0.27009-0.21084 0.46991-0.30179 0.19982-0.0909 0.44235-0.17225 0.7276-0.24529 0.28526-0.0717 0.61185-0.13229 0.97979-0.18465 0.36794-0.051 0.77446-0.0923 1.2223-0.12403 0.44648-0.0303 0.93155-0.051 1.4524-0.062 0.52228-0.01 1.079-0.01 1.6702 1e-3 0.59118 0.011 1.2154 0.0317 1.87 0.0648 0.65595 0.0317 1.3408 0.073 2.0533 0.12541 0.71382 0.0524 1.4524 0.11437 2.2159 0.18741 0.76482 0.0716 1.5503 0.15434 2.3578 0.24666 0.80753 0.091 1.633 0.19293 2.4763 0.30317 0.84336 0.11025 1.7005 0.22876 2.5714 0.35692 0.87092 0.12815 1.7515 0.2632 2.6417 0.4079 0.89021 0.14331 1.7859 0.2949 2.6872 0.45475 0.90123 0.15847 1.8025 0.32384 2.7051 0.49609 0.90261 0.17226 1.8025 0.35002 2.6982 0.5333 0.89573 0.18466 1.7846 0.37207 2.6651 0.56638 0.88057 0.19292 1.7501 0.39136 2.6072 0.59255 0.85576 0.20257 1.6977 0.40652 2.5218 0.61461 0.82544 0.20808 1.6302 0.41754 2.4143 0.62838 0.78548 0.21222 1.5462 0.42444 2.2834 0.63941 0.73725 0.2136 1.4469 0.42719 2.1291 0.64079s1.3339 0.42581 1.9554 0.63803c0.62149 0.21222 1.2085 0.42168 1.7625 0.62839 0.55397 0.20808 1.0721 0.41203 1.553 0.61322 0.48232 0.20258 0.92467 0.39964 1.3284 0.59256 0.40377 0.19293 0.76757 0.38172 1.0914 0.565 0.32246 0.18328 0.60358 0.36104 0.84198 0.5333 0.23978 0.17087 0.43546 0.33624 0.58705 0.49471 0.15296 0.15848 0.26044 0.30868 0.32521 0.452 0.0648 0.14469 0.0841 0.27974 0.0606 0.40652z"
            fill="#f9eae6"
            style="stroke-width:.35278"></path>
          <path
            d="m72.482 263.69c-5.599 0-13.964-0.98254-22.95-2.6968-7.4717-1.4249-14.435-3.1805-19.607-4.943-7.2044-2.4557-9.6917-4.3739-9.1736-7.0804 0.54846-2.8842 4.2843-3.2811 8.2379-3.2811 5.599 0 13.962 0.98254 22.95 2.6968 7.4704 1.4249 14.434 3.1819 19.605 4.943 7.2058 2.4557 9.6931 4.3739 9.1764 7.0804-0.55122 2.8842-4.2857 3.2811-8.2393 3.2811zm-43.082-13.072c4.079 1.5613 11.124 3.6394 21.056 5.5356 8.3468 1.5916 16.378 2.559 21.616 2.6072-4.079-1.5613-11.125-3.6408-21.058-5.5342-8.3454-1.593-16.375-2.5604-21.615-2.6086z"
            fill="#6b1c18"
            style="stroke-width:.35278"></path>
          <path
            d="m58.846 212.57-7.3698 38.228"
            fill="#f9eae6"
            style="stroke-width:.35278"></path>
        </g>
        <g fill="#6b1c18">
          <path
            d="m51.479 253.27c-0.15434 0-0.31006-0.0138-0.46853-0.0441-1.3367-0.25769-2.2118-1.5503-1.9527-2.8856l7.3697-38.228c0.25632-1.3367 1.5517-2.2118 2.8856-1.9527 1.3367 0.25769 2.2118 1.5489 1.9527 2.8856l-7.3697 38.228c-0.226 1.1782-1.2595 1.9968-2.4171 1.9968z"
            style="stroke-width:.35278"></path>
          <path d="m90.275 145.86-0.98392 5.158" style="stroke-width:.35278"
          ></path>
          <path
            d="m89.292 152.78c-0.10887 0-0.22049-0.01-0.33211-0.0317-0.9536-0.18052-1.5806-1.1024-1.3987-2.0574l0.98392-5.158c0.1819-0.95498 1.1024-1.582 2.0588-1.3987 0.9536 0.18052 1.582 1.1038 1.3987 2.0574l-0.98254 5.158c-0.16123 0.84335-0.89986 1.4304-1.7281 1.4304z"
            style="stroke-width:.35278"></path>
          <path d="m88.162 156.93-2.344 12.288" style="stroke-width:.35278"
          ></path>
          <path
            d="m85.821 170.98c-0.11025 0-0.22049-0.011-0.33211-0.0317-0.95498-0.1819-1.582-1.1038-1.4001-2.0588l2.344-12.287c0.1819-0.95498 1.1066-1.5834 2.0602-1.3987 0.95361 0.18053 1.5806 1.1038 1.3987 2.0574l-2.344 12.288c-0.16123 0.84336-0.89986 1.4304-1.7267 1.4304z"
            style="stroke-width:.35278"></path>
        </g>
        <path
          d="m183.8 106.39-13.779 13.778"
          fill="#f9eae6"
          style="stroke-width:.35278"></path>
        <path
          d="m170.02 122.64c-0.63114 0-1.2609-0.24116-1.7432-0.7221-0.96187-0.96187-0.96187-2.5218 0-3.4837l13.779-13.778c0.96325-0.96187 2.5218-0.96187 3.4851 0 0.96187 0.96187 0.96187 2.5218 0 3.4837l-13.779 13.778c-0.48094 0.48094-1.1107 0.7221-1.7418 0.7221z"
          fill="#6b1c18"
          style="stroke-width:.35278"></path>
        <g
          transform="matrix(.35278 0 0 .35278 -163.25 87.067)"
          clip-path="url(#3372317733)"
        >
          <path
            d="m1017.6 118.52h-55.238c-3.8594 0-6.9844-3.1289-6.9844-6.9844 0-3.8594 3.125-6.9844 6.9844-6.9844h55.238c3.8594 0 6.9844 3.125 6.9844 6.9844 0 3.8555-3.125 6.9844-6.9844 6.9844z"
            fill="#6b1c18"></path>
        </g>
        <g>
          <path
            d="m163.81 116.43c-1.3615 0-2.4639-1.1024-2.4639-2.4639v-19.483c0-1.3601 1.1024-2.4639 2.4639-2.4639 1.3601 0 2.4639 1.1038 2.4639 2.4639v19.483c0 1.3615-1.1038 2.4639-2.4639 2.4639z"
            fill="#6b1c18"
            style="stroke-width:.35278"></path>
          <path
            d="m28.091 107.95 13.779 13.778"
            fill="#f9eae6"
            style="stroke-width:.35278"></path>
          <path
            d="m41.87 124.19c-0.63114 0-1.2609-0.24115-1.7418-0.72209l-13.779-13.776c-0.96325-0.96325-0.96325-2.5232 0-3.4851 0.96187-0.96187 2.5218-0.96187 3.4837 0l13.779 13.778c0.96325 0.96187 0.96325 2.5218 0 3.4837-0.48094 0.48094-1.1107 0.72209-1.7418 0.72209z"
            fill="#6b1c18"
            style="stroke-width:.35278"></path>
        </g>
        <g
          transform="matrix(.35278 0 0 .35278 -163.25 87.067)"
          clip-path="url(#dd435d12ab)"
        >
          <path
            d="m563.75 122.93h-55.238c-3.8594 0-6.9844-3.125-6.9844-6.9844 0-3.8555 3.125-6.9844 6.9844-6.9844h55.238c3.8594 0 6.9844 3.1289 6.9844 6.9844 0 3.8594-3.1289 6.9844-6.9844 6.9844z"
            fill="#6b1c18"></path>
        </g>
        <g fill="#6b1c18">
          <path
            d="m48.079 117.98c-1.3601 0-2.4639-1.1038-2.4639-2.4639v-19.484c0-1.3615 1.1038-2.4639 2.4639-2.4639 1.3615 0 2.4639 1.1024 2.4639 2.4639v19.484c0 1.3601-1.1024 2.4639-2.4639 2.4639z"
            style="stroke-width:.35278"></path>
          <path
            d="m55.521 203.81c-0.25081 0-0.50712-0.0537-0.74966-0.16812-0.13229-0.0634-13.222-6.4148-11.292-19.645 0.14056-0.96188 1.0308-1.6288 1.9968-1.4869 0.9605 0.14056 1.6275 1.0335 1.4869 1.9954-1.5517 10.629 8.8718 15.744 9.3155 15.955 0.87505 0.41892 1.2485 1.4676 0.83233 2.344-0.30179 0.63528-0.93293 1.006-1.5902 1.006z"
            style="stroke-width:.35278"></path>
          <path
            d="m46.065 179.32c-0.16123 0-0.32522-0.0234-0.48783-0.0689-0.93431-0.26872-1.4731-1.2444-1.2044-2.1787l1.3284-4.6095c0.26872-0.93293 1.2444-1.4731 2.1773-1.2044 0.9343 0.2701 1.4731 1.2444 1.2044 2.1787l-1.327 4.6095c-0.22324 0.7717-0.92742 1.2733-1.6908 1.2733z"
            style="stroke-width:.35278"></path>
          <path
            d="m152.92 203.74c-0.66008 0-1.2912-0.37207-1.5916-1.0073-0.41617-0.87781-0.0413-1.9265 0.83647-2.3427 0.46991-0.226 10.864-5.3399 9.3142-15.956-0.14056-0.9605 0.52503-1.8548 1.4869-1.9954 0.95774-0.14194 1.8548 0.52503 1.9954 1.4869 1.932 13.231-11.158 19.583-11.29 19.645-0.24253 0.11576-0.49885 0.1695-0.75103 0.1695z"
            style="stroke-width:.35278"></path>
          <path
            d="m162.38 179.25c-0.76481 0-1.469-0.50298-1.6908-1.2733l-1.3284-4.6109c-0.26872-0.93431 0.27147-1.9086 1.2044-2.1773 0.93845-0.26872 1.91 0.2701 2.1787 1.203l1.3284 4.6109c0.26872 0.93431-0.27009 1.9086-1.203 2.1773-0.16398 0.0469-0.32797 0.0703-0.4892 0.0703z"
            style="stroke-width:.35278"></path>
        </g>
      </g>
    </svg>

    <div class="detalles-info">
      <h3>RECEPCIÓN</h3>
      <p>Club Naval de Suboficiales</p>
      <p>Crespo Cll. 71</p>
      <span>8:00 P.M.</span>
    </div>

    <a
      href="https://www.google.com/maps/place/Club+Naval+de+Suboficiales/@10.4521671,-75.5170632,17z/data=!3m1!4b1!4m6!3m5!1s0x8ef62545650955c1:0xf82cfbd931505b17!8m2!3d10.4521618!4d-75.5144883!16s%2Fg%2F1tykwfx2?entry=ttu"
      target="_blank"
    >
      <picture class="mapa">
        <source srcset="/img/MapaClub.png" />
        <img src="/img/MapaClub.png" alt="Mapa Club" loading="lazy">
      </picture>
    </a>

    <a
      href="https://www.google.com/maps/place/Club+Naval+de+Suboficiales/@10.4521671,-75.5170632,17z/data=!3m1!4b1!4m6!3m5!1s0x8ef62545650955c1:0xf82cfbd931505b17!8m2!3d10.4521618!4d-75.5144883!16s%2Fg%2F1tykwfx2?entry=ttu"
      target="_blank"
      class="link-maps">Ver en Google Maps</a
    >
  </div>
</div>

<style>
  .deco-superior-container {
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;
  }
  .deco-inferior-container {
    position: absolute;
    width: 100vw;
    bottom: 0px;
    left: 0px;
  }
  .decoracion-info-size img {
    width: 100vw;
    scale: 1;
    object-fit: cover;
  }

  .decoracion-info-superior {
    position: relative;
    top: -4px;
    left: 0vw;
  }
  .decoracion-info-superior img {
    rotate: 180deg;
  }
  .decoracion-info-inferior {
    position: relative;
    bottom: -5px;
    left: 0vw;
  }

  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .ceremonia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 1em;
  }
  .recepcion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 1em;
  }

  .iglesia {
    width: 5vw;
  }
  .copas {
    width: 6vw;
  }

  .mapa img {
    width: 20vw;
    scale: 1;
    object-fit: cover;
  }
  .detalles-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--vh) * 1);
    font-size: calc(var(--vh) * 2.8);
    font-family: "Montserrat Variable", Helvetica, sans-serif;
  }
  .detalles-info h3 {
    margin: 0px;
    color: var(--accent-light);
  }
  .detalles-info p {
    color: var(--accent);
  }
  .detalles-info span {
    color: var(--accent);
    font-weight: bold;
  }

  .link-maps {
    color: var(--accent);
    font-family: "Montserrat Variable", Helvetica, sans-serif;
  }

  @media (max-width: 430px) {
    .deco-superior-container {
      height: calc(var(--vh) * 100);
      top: 0px;
      left: 0px;
    }
    .deco-inferior-container {
      height: calc(var(--vh) * 100);
      top: 0px;
      right: 0px;
    }
    .decoracion-info-size img {
      width: 300vw;
    }
    .decoracion-info-superior {
      top: 120vw;
      left: -137vw;
    }
    .decoracion-info-superior img {
      transform: rotate(-90deg);
    }
    .decoracion-info-inferior {
      top: calc(var(--vh) * 50);
      left: -63.2vw;
    }
    .decoracion-info-inferior img {
      rotate: -90deg;
    }

    .content-container {
      flex-direction: column;
    }
    .ceremonia-container {
      row-gap: 0.5em;
    }
    .recepcion-container {
      row-gap: 0.5em;
    }

    .iglesia {
      width: 3.5em;
    }
    .copas {
      width: 3.8em;
    }

    .mapa img {
      width: 12em;
    }

    .detalles-info {
      font-size: 1em;
    }

    .link-maps {
      font-size: 0.8em;
    }
  }
  
</style>