<div class="top-frame-container">
	<picture class="top-frame top-frame-left">
		<source srcset="/img/FloresMarcoSuperior_1.png">
		<img src="/img/FloresMarcoSuperior_1.png" alt="Marco superior">
	</picture>
	<picture class="top-frame top-frame-right">
		<source srcset="/img/FloresMarcoSuperior_1.png">
		<img src="/img/FloresMarcoSuperior_1.png" alt="Marco superior">
	</picture>
</div>

<span class="sub-titulo-portada">¡Nos casaremooos!</span>
<picture class="main-content main-photo">
    <source srcset="/img/imagen_portada_high_1.jpeg">
    <img src="/img/imagen_portada_high_1.jpeg" alt="Foto de los novios">
</picture>
<picture class="main-content golden-frame">
    <source srcset="/img/MarcoDorado_1.png">
    <img src="/img/MarcoDorado_1.png" alt="Marco superior">
</picture>
<picture class="golden-frame-decoration">
    <source srcset="/img/FloresDecoracionMarco_1.png">
    <img src="/img/FloresDecoracionMarco_1.png" alt="Marco superior">
</picture>
<div class="our-names">
    <span>Daniel & Ayde</span>
</div>
<span class="texto-portada">
    "Comprendí que el amor encierra todas las vocaciones, que el amor lo es todo, que abarca todos los tiempos y todos los lugares, en una palabra: es eterno."
</span>
<span class="autor-cita">
    Santa Teresita del Niño Jesús
</span>
<span class="fecha">ENE | 19 | 2024</span>
<picture class="bottom-frame bottom-frame-left">
    <source srcset="/img/FloresMarcoInferior_1.png">
    <img src="/img/FloresMarcoInferior_1.png" alt="Marco superior">
</picture>
<picture class="bottom-frame bottom-frame-right">
    <source srcset="/img/FloresMarcoInferior_1.png">
    <img src="/img/FloresMarcoInferior_1.png" alt="Marco superior">
</picture>

<style>
	.top-frame-container{
		position: absolute;
		top: 0%;
		width: 100%;
	}
    .top-frame {
		position: relative;
		top: -8vh;
	}
	.top-frame img {
		/* width: 20vw; */
		height: 30vw;
		scale: 1;
		object-fit: cover;
	}
	.top-frame-left {
		left: -6vw;
	}
	.top-frame-right {
		right: -65vw;
	}
	.top-frame-right img{
		rotate: y 180deg;
	}

	.bottom-frame {
		position: absolute;
		bottom: -18vh;
	}
	.bottom-frame img {
		height: 27vw;
		scale: 1;
		object-fit: cover;
	}
	.bottom-frame-left {
		left: -7vw;
		rotate: -10deg;
	}
	.bottom-frame-right {
		right: -7vw;
		transform: rotateY(180deg) rotate(-10deg);
	}
	
	.main-content {
		position: absolute;
		top: 35vh;
		left: 50vw;
	}

	.golden-frame img {
		height: 22vw;
		scale: 1;
		object-fit: cover;
		translate: -50% -50%;
	}
	
	.golden-frame-decoration{
		position: absolute;
		top: 28vh;
		left: 37vw;
	}
	.golden-frame-decoration img{
		height: 18vw;
		scale: 1;
		object-fit: cover;
		rotate: -15deg;
		/* translate: -50% -50%;		 */
	}

	.main-photo{
	}
	.main-photo img{
		width: 20vw;
		height: 20vw;
		translate: -50% -50%;
		scale: 1;
		float: left;
		object-fit: cover;
		border-radius: 50%;
	}

	.our-names{
		position: absolute;
		top: 62vh;
		left: 36vw;
		width: 100%;
		font-size: 5vw;
		color: var(--accent);
		font-family: 'Great Vibes', sans-serif;
        font-weight: 100;
	}

	.sub-titulo-portada{
		font-family: 'Montserrat Variable', sans-serif;
		color: var(--accent);
		font-size: 30px;
		font-weight: 500;
		position: absolute;
		top: 5vh;
		left: 50vw;
		translate: -50%;
	}

	.texto-portada{
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
		line-height: 3.5vh;
		color: var(--basic);
		font-size: 15px;
		text-align: center;
		width: 43vw;
		position: absolute;
		top: 77vh;
		left: 50vw;
		translate: -50%;
	}

	.autor-cita	{
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
		position: absolute;
		top: 86vh;
		left: 50vw;
		translate: -50%;
		font-size: 15px;
		color: var(--accent);
	}

	.fecha{
		position: absolute;
		top: 92vh;
		left: 50vw;
		translate: -50%;
		gap: 0rem;
		color: var(--accent);
		font-size: 30px;
		font-family: 'Trebuchet MS', sans-serif;
		font-weight: bolder;
	}
</style>