<div class="top-right-frame-container">
	<picture class="top-frame top-frame-left">
		<source srcset="/img/FloresMarcoSuperior_1.png">
		<img src="/img/FloresMarcoSuperior_1.png" alt="Marco superior">
	</picture>
</div>
<div class="top-left-frame-container">
	<picture class="top-frame top-frame-right">
		<source srcset="/img/FloresMarcoSuperior_1.png">
		<img src="/img/FloresMarcoSuperior_1.png" alt="Marco superior">
	</picture>
</div>

<span class="sub-titulo-portada">¡NOS CASAMOS!</span>
<picture class="main-content main-photo">
    <source srcset="/img/FotoPortada.webp">
    <img src="/img/FotoPortada.webp" alt="Foto de los novios">
</picture>
<picture class="main-content golden-frame">
    <source srcset="/img/MarcoDorado_1.png">
    <img src="/img/MarcoDorado_1.png" alt="Marco superior">
</picture>
<picture class="golden-frame-decoration">
    <source srcset="/img/FloresDecoracionMarco_1.png">
    <img src="/img/FloresDecoracionMarco_1.png" alt="Marco superior">
</picture>
<span class="our-names">Daniel & Ayde</span>
<span class="texto-portada">
    "Comprendí que el amor encierra todas las vocaciones, que el amor lo es todo, que abarca todos los tiempos y todos los lugares, en una palabra: es eterno."
</span>
<span class="autor-cita">
    Santa Teresita del Niño Jesús
</span>
<span class="fecha">ENE | 19 | 2024</span>

<div class="bottom-left-frame-container">
	<picture class="bottom-frame bottom-frame-left">
		<source srcset="/img/FloresMarcoInferior_1.png">
		<img src="/img/FloresMarcoInferior_1.png" alt="Marco superior">
	</picture>
</div>
<div class="bottom-right-frame-container">
	<picture class="bottom-frame bottom-frame-right">
		<source srcset="/img/FloresMarcoInferior_1.png">
		<img src="/img/FloresMarcoInferior_1.png" alt="Marco superior">
	</picture>
</div>

<style>
	.top-right-frame-container{
		position: absolute;
		top: 0px;
		left: 0px;
		width: fit-content;
	}
	.top-left-frame-container{
		position: absolute;
		top: 0px;
		left: 100vw;
		translate: -100%;
		width: fit-content;		
	}
    .top-frame {
		position: relative;
		top: -8vh;
	}
	.top-frame img {
		height: 30vw;
		scale: 1;
		object-fit: cover;
	}
	.top-frame-left {
		left: -6vw;
	}
	.top-frame-right {
		right: -6vw;
	}
	.top-frame-right img{
		rotate: y 180deg;
	}
	
	.bottom-left-frame-container{
		position: absolute;
		top:  100vh;
		width: fit-content;
		translate: 0% -100%;
	}
	.bottom-right-frame-container
	{
		position: absolute;
		top:  100vh;
		left: 100vw;
		width: fit-content;
		translate: -100% -100%;
	}
	.bottom-frame {
		position: relative;
		bottom: -7vw;
	}
	.bottom-frame img {
		height: 27vw;
		scale: 1;
		object-fit: cover;
	}
	.bottom-frame-left {
		left: -7vw;
	}
	.bottom-frame-left img{
		rotate: -10deg;
	}
	.bottom-frame-right {
		right: -7vw;
	}
	.bottom-frame-right img {
		rotate: 10deg;
		transform: rotateY(180deg);
	}
	
	.main-content {
		position: absolute;
		top: 35vh;
		left: 50vw;
		translate: -50% -50%;
	}

	.golden-frame img {
		height: 22vw;
		scale: 1;
		object-fit: cover;
	}
	
	.golden-frame-decoration{
		position: absolute;
		top: 28vh;
		left: 37vw;
	}
	.golden-frame-decoration img{
		height: 18vw;
		scale: 1;
		object-fit: cover;
		rotate: -15deg;
		/* translate: -50% -50%;		 */
	}

	.main-photo{
	}
	.main-photo img{
		width: 20vw;
		height: 20vw;
		scale: 1;
		float: left;
		object-fit: cover;
		border-radius: 50%;
	}

	.our-names{
		position: absolute;
		top: 62vh;
		width: 100%;
		text-align: center;
		font-size: 5vw;
		color: var(--accent);
		font-family: 'Great Vibes', sans-serif;
        font-weight: 100;
	}

	.sub-titulo-portada{
		font-family: 'Montserrat Variable', sans-serif;
		color: var(--accent);
		font-size: 30px;
		font-weight: 500;
		position: absolute;
		top: 5vh;
		width: 100%;
		text-align: center;
	}

	.texto-portada{
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
		line-height: 3.5vh;
		color: var(--basic);
		font-size: 15px;
		text-align: center;
		width: 43vw;
		position: absolute;
		top: 77vh;
		left: 50vw;
		translate: -50%;
	}

	.autor-cita	{
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
		position: absolute;
		top: 86vh;
		left: 50vw;
		translate: -50%;
		font-size: 15px;
		color: var(--accent);
	}

	.fecha{
		position: absolute;
		top: 92vh;
		left: 50vw;
		translate: -50%;
		color: var(--accent);
		font-size: 30px;
		font-family: 'Trebuchet MS', sans-serif;
		font-weight: bolder;
	}

	@media (max-width: 430px){
		.top-right-frame-container{
			position: absolute;
			top: 0px;
			left: 0px;
			width: fit-content;
		}
		.top-left-frame-container{
			position: absolute;
			top: 0px;
			left: 100vw;
			translate: -100%;
			width: fit-content;		
		}
		.top-frame img {
			height: 70vw;
		}
		.top-frame {
			top: -8vh;
		}
		.top-frame-left {
			left: -15vw;
		}
		.top-frame-right {
			right: -15vw;
		}

		.main-content {
			top: 33vh;
		}
		.golden-frame img {
			height: 70vw;
		}
		.golden-frame-decoration{
			top: 32vh;
			left: 15vw;
		}
		.golden-frame-decoration img{
			height: 45vw;
		}
		.main-photo img{
			width: 65vw;
			height: 65vw;
		}

		.sub-titulo-portada{
			font-size: 18px;
			font-weight: 500;
			top: 8vh;
		}
		.our-names{
			top: 55vh;
			font-size: 12vw;
		}
		.texto-portada{
			line-height: 2.5vh;
			font-size: 12px;
			width: 63vw;
			top: 65vh;
		}
		.autor-cita	{
			top: 78vh;
			font-size: 12px;
		}
		.fecha{
			top: 85vh;
			font-size: 17px;
		}
		
		.bottom-frame img {
			height: 60vw;
		}
		.bottom-frame {
			bottom: -15vw;
		}
		.bottom-frame-left {
			left: -15vw;
		}
		.bottom-frame-right {
			right: -15vw;
		}
	}

</style>