<div class="base-lluvia">
    <svg class="sobre-lluvia" version="1.1" viewBox="0 0 163.51 96.33" xmlns="http://www.w3.org/2000/svg">
    <metadata>
    <rdf:RDF>
    <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
        <dc:title/>
    </cc:Work>
    </rdf:RDF>
    </metadata>
    <g transform="translate(91.017 -106.77)" fill="#6b1c18">
    <path d="m65.96 106.77h-150.55c-1.5241 0-2.8319 0.54432-3.9219 1.3064-0.21773 0.10886-0.27009 0.17304-0.60338 0.47345-0.10886 0.10887-0.26754 0.2886-0.3764 0.39747-0.97979 1.1975-1.5255 2.6128-1.5255 4.2457v83.484c0 3.4837 2.8332 6.423 6.4272 6.423h150.66c3.4864 0 6.4272-2.8305 6.4272-6.423v-83.484c-0.47264-3.8763-2.9167-6.2901-6.536-6.423zm1.1989 7.8369v82.07c0 0.6532-0.5457 1.0886-1.09 1.0886h-150.66c-0.65319 0-1.0886-0.54432-1.0886-1.0886v-82.07s0.41846 0.19729 0.9605-1.5225c3.6107-0.96288 0.0151-0.17725 0 0l-0.9605 1.5224 57.627 38.75c0.3266-1.7418 1.1975-3.3748 2.5053-4.5723l-54.468-36.681-0.10886-0.10886c0.23436-2.4248-6.3406-4.2656 0 0h141.62l-56.429 37.987c1.09 1.5241 1.6344 3.266 1.7432 5.2241z" style="stroke-width:.35278"/>
    <path d="m7.2443 154.34c-0.11024-1.9596-0.65457-3.7014-1.7432-5.3344-0.32659-0.43547-0.65457-0.87092-1.09-1.3064-3.813-3.8089-10.022-3.8089-13.834 0l-1.3078 1.3064-1.3078-1.3064c-3.8117-3.8089-10.021-3.8089-13.834 0-1.3078 1.3064-2.1787 2.9394-2.6141 4.7901-0.10886 0.65319-0.21773 1.4152-0.21773 2.1759 0 2.6128 0.97979 5.1166 2.8319 6.9674l13.29 13.17c0.54433 0.54433 1.1989 0.76205 1.9609 0.76205 0.65319 0 1.4166-0.21772 1.961-0.76205l13.181-13.17c1.8521-1.8507 2.8332-4.3546 2.8332-6.9674 0-0.10749-0.10886-0.21635-0.10886-0.32522zm-17.975 14.803-11.329-11.321c-0.43546-0.43546-0.76343-0.97978-0.98116-1.633-0.21773-0.43546-0.21773-0.97979-0.21773-1.5241 0-1.1961 0.43546-2.2848 1.3078-3.1557 0.21773-0.21773 0.54432-0.43546 0.87092-0.65319 0.65319-0.43546 1.4166-0.65319 2.2875-0.65319 1.1989 0 2.2875 0.43546 3.1598 1.3064l3.1585 3.1571c1.09 1.0873 2.7244 1.0873 3.813 0l3.1598-3.1571c1.7418-1.7418 4.4662-1.7418 6.2081 0 0.10886 0.10887 0.21911 0.3266 0.43684 0.43546 1.3064 1.7418 1.1975 4.1355-0.43684 5.7685l-3.1585 3.1571z" style="stroke-width:.35278"/>
    </g>
    </svg>

    <h5 class="lluvia-de-titulo">
        LLUVIA DE 
    </h5>
    <h5 class="sobres-titulo">
        sobres
    </h5>
</div>

<svg class="separador-lluvia separador-izquierda" version="1.1" viewBox="0 0 129.59 7.8828" xmlns="http://www.w3.org/2000/svg">
<defs>
<clipPath id="f4301057f8">
<path d="m0 289.24h367.42v22.359h-367.42z"/>
</clipPath>
</defs>
<metadata>
<rdf:RDF>
<cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
</cc:Work>
</rdf:RDF>
</metadata>
<g transform="translate(44.519 -197.17)">
<g transform="matrix(.35278 0 0 .35278 -44.551 95.128)" clip-path="url(#f4301057f8)">
<path d="m368.54 299.87-9.5508 2.6211-2.7578 9.0938-2.7539-9.0938-5.5781-1.5312h-347.81v-2.1836h347.81l5.5781-1.5312 2.7539-9.0938 2.7578 9.0938z" fill="#6b1c18"/>
</g>
</g>
</svg>

<svg class="separador-lluvia separador-derecha"  version="1.1" viewBox="0 0 129.59 7.8828" xmlns="http://www.w3.org/2000/svg">
<defs>
<clipPath id="f4301057f8">
<path d="m0 289.24h367.42v22.359h-367.42z"/>
</clipPath>
</defs>
<metadata>
<rdf:RDF>
<cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
</cc:Work>
</rdf:RDF>
</metadata>
<g transform="translate(44.519 -197.17)">
<g transform="matrix(.35278 0 0 .35278 -44.551 95.128)" clip-path="url(#f4301057f8)">
<path d="m368.54 299.87-9.5508 2.6211-2.7578 9.0938-2.7539-9.0938-5.5781-1.5312h-347.81v-2.1836h347.81l5.5781-1.5312 2.7539-9.0938 2.7578 9.0938z" fill="#6b1c18"/>
</g>
</g>
</svg>

<div class="deco-flores-izq-container">
    <picture class="deco-flores deco-flores-lluvia-izq">
        <source srcset="/img/SeparadorHorizontal_1.png">
        <img src="/img/SeparadorHorizontal_1.png" alt="Decoracion Floral">
    </picture>
</div>
<picture class="deco-flores deco-flores-lluvia-bot">
    <source srcset="/img/SeparadorHorizontal_1.png">
    <img src="/img/SeparadorHorizontal_1.png" alt="Decoracion Floral">
</picture>
<div class="deco-flores-der-container">
    <picture class="deco-flores deco-flores-lluvia-der">
        <source srcset="/img/SeparadorHorizontal_1.png">
        <img src="/img/SeparadorHorizontal_1.png" alt="Decoracion Floral">
    </picture>
</div>

<style>
    .base-lluvia{
		background-color: var(--secondary);
		position: relative;
		left: 12vw;
		top: calc(var(--vh) * 0);
		width: 25vw;
		height: calc(var(--vh) * 60);
	}

	.sobre-lluvia{
		position: relative;
		top: calc(var(--vh) * 15);
		left: 50%;
		translate: -50%;
		height: calc(var(--vh) * 11);
	}
	
	.lluvia-de-titulo{
		color: white;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
		position: relative;
		top: calc(var(--vh) * 12);
		width: 100%;
		text-align: center;
		font-size: calc(var(--vh) * 3.5);
		font-weight: 700;
	}

	.sobres-titulo{
		color: white;
		font-family: 'Great Vibes', sans-serif;;
        font-weight: 100;
		font-size: calc(var(--vh) * 8);
		position: relative;
		top: calc(var(--vh) * -2);
		width: 100%;
		text-align: center;
	}
	
	.separador-lluvia {
		position: absolute;
		top: calc(var(--vh) * 37);
		width: 16vw;
	}
	.separador-derecha{
		left: 3vw;
	}
	.separador-izquierda{
		left: 30vw;
		rotate: 180deg;
	}

	.deco-flores{
        position: relative;
	}
	.deco-flores img{
		object-fit: cover;
	}
    
    .deco-flores-izq-container{
		position: absolute;
		top: 0%;
		left: -8vw;
        height: calc(var(--vh) * 70);
    }
	.deco-flores-lluvia-izq{
        top: calc(var(--vh) * 27);
		right: 0%;
	}
	.deco-flores-lluvia-izq img{
		height: 5.5vw;
		rotate: 90deg;
	}

    .deco-flores-der-container{
		position: absolute;
		top: 0%;
		left: 22.4vw;
        height: calc(var(--vh) * 70);
    }
	.deco-flores-lluvia-der{
		top: calc(var(--vh) * 26);
	}
	.deco-flores-lluvia-der img{
		height: 5.5vw;
		rotate: -90deg;
	}

	.deco-flores-lluvia-bot{
		left: 9vw;
	}
	.deco-flores-lluvia-bot img{
		width: calc(var(--vh) * 56);
	}

	@media (max-width: 1366px){
		.deco-flores-izq-container{
			top: 0%;
			left: -13.5vw;
			height: calc(var(--vh) * 80);
		}
		.deco-flores-lluvia-izq{
			top: calc(var(--vh) * 27);
			right: 0%;
		}
		.deco-flores-lluvia-izq img{
			height: 7vw;
		}

		.deco-flores-der-container{
			top: 0%;
			left: 18.5vw;
			height: calc(var(--vh) * 80);
		}
		.deco-flores-lluvia-der{
			top: calc(var(--vh) * 26);
		}
		.deco-flores-lluvia-der img{
			height: 7vw;
		}

		.deco-flores-lluvia-bot{
			left: 9vw;
		}
		.deco-flores-lluvia-bot img{
			width: calc(var(--vh) * 60);
		}
	}
	@media (max-width: 430px){
		.base-lluvia{
			position: absolute;
			left: 20vw;
			top: auto;
			bottom: 0px;
			width: 60vw;
			height: calc(var(--vh) * 35);
		}

		.sobre-lluvia{
			top: 15%;
			height: calc(var(--vh) * 10);
		}
		
		.lluvia-de-titulo{
			top: 5%;
			font-size: calc(var(--vh) * 3.5);
		}

		.sobres-titulo{
			position: relative;
			top: -35%;
		}
		
		.separador-lluvia {
			position: absolute;
			top: calc(var(--vh) * 91.5);
			width: 30vw;
		}
		.separador-derecha{
			left: 2vw;
		}
		.separador-izquierda{
			left: 69vw;
		}

		.deco-flores{
			position: relative;
		}
		
		.deco-flores-izq-container{
			top: auto;
			bottom: 0px;
			left: 0px;
			height: calc(var(--vh) * 42);
		}
		.deco-flores-lluvia-izq{
			top: calc(var(--vh) * 21);
			right: 31vw;
		}
		.deco-flores-lluvia-izq img{
			height: 14vw;
			rotate: 90deg;
		}

		.deco-flores-der-container{
			top: auto;
			bottom: 0px;
			left: auto;
			right: 0px;
			height: calc(var(--vh) * 42);
		}
		.deco-flores-lluvia-der{
			top: calc(var(--vh) * 20);
			right: -31vw;
		}
		.deco-flores-lluvia-der img{
			height: 14vw;
			rotate: -90deg;
		}

		.deco-flores-lluvia-bot{
			position: absolute;
			left: 10vw;
			bottom: calc(var(--vh) * 34.5);

		}
		.deco-flores-lluvia-bot img{
			width: 80vw;
			rotate: x 180deg;
		}
	}

</style>