<div class="seccion-musica">
    <svg class="icono-disco-musica" version="1.1" viewBox="0 0 175.88 180.98" xmlns="http://www.w3.org/2000/svg">
    <defs>
    <clipPath id="ccf5a83c97">
    <path d="m144 15.004h213v253h-213z"/>
    </clipPath>
    <clipPath id="f64bd8bcc0">
    <path d="m43 314h159v214h-159z"/>
    </clipPath>
    <clipPath id="3cfa49086b">
    <path d="m298 314h159v214h-159z"/>
    </clipPath>
    </defs>
    <metadata>
    <rdf:RDF>
    <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
        <dc:title/>
    </cc:Work>
    </rdf:RDF>
    </metadata>
    <g transform="translate(294.21 -100.91)">
    <g transform="matrix(.35278 0 0 .35278 -294.64 95.613)" clip-path="url(#ccf5a83c97)">
    <path d="m144.99 161.53c0 18.793 4.9648 36.445 13.617 51.742 0.0547 0.14844 0.15234 0.26172 0.22656 0.40234 14.598 25.555 39.555 44.445 69.129 50.914 0.10937 0.0351 0.21875 0.0547 0.33203 0.0781 7.1797 1.5469 14.613 2.3789 22.242 2.3789h8e-3c39.215-4e-3 73.477-21.508 91.676-53.328 0.082-0.15234 0.19531-0.28906 0.26172-0.45703 8.6484-15.293 13.609-32.941 13.609-51.73 0-18.789-4.9609-36.43-13.609-51.73-0.0625-0.16797-0.17578-0.30079-0.26172-0.46094-17.629-30.816-50.332-51.93-88.004-53.23l-0.0703-37.035c-4e-3 -2.25-1.8281-4.0664-4.0703-4.0664h-0.0117c-2.2461 0.0039-4.0664 1.8281-4.0625 4.082l0.0703 37.039c-6.0781 0.25781-12.02 1.0273-17.793 2.2695-0.0742 0.01563-0.14062 0.02734-0.21484 0.04687-29.617 6.4492-54.617 25.359-69.234 50.945-0.0742 0.13672-0.17187 0.25-0.23437 0.39844-8.6445 15.305-13.605 32.949-13.605 51.742zm202.85-4.0703h-42.902c-0.28516-14.078-2.3242-28.117-6.1484-42.098h37.484c6.832 12.625 10.941 26.918 11.566 42.098zm-11.566 50.242h-37.797c3.8906-14.059 6.0391-28.098 6.4336-42.102h42.93c-0.625 15.184-4.7344 29.48-11.566 42.102zm-81.672 51.098-0.082-42.957h32.805c-4.668 13.805-11.023 27.621-19.195 41.441-4.4141 0.80859-8.9297 1.3242-13.527 1.5156zm-22.867-1.7344c-8.1094-13.742-14.426-27.492-19.07-41.223h33.711l0.082 42.957c-5.0156-0.20703-9.9297-0.79296-14.723-1.7344zm-78.5-91.465h41.844c0.39454 14.004 2.5391 28.043 6.4297 42.102h-36.707c-6.8281-12.621-10.938-26.918-11.566-42.102zm50.172 0h42.875l0.082 42.102h-36.305c-4.0547-14.059-6.2422-28.098-6.6523-42.102zm51.098 42.102-0.082-42.102h42.16c-0.41406 14-2.6016 28.039-6.6562 42.102zm42.129-50.242h-42.223l-0.082-42.098h35.879c3.9922 13.977 6.1289 28.016 6.4258 42.098zm-50.367 0h-42.91c0.29687-14.082 2.4336-28.121 6.4297-42.098h36.402zm-51.219 0h-41.812c0.62891-15.18 4.7383-29.473 11.562-42.098h36.402c-3.8203 13.98-5.8672 28.02-6.1524 42.098zm-25.316 58.383h34.219c4.1484 12.781 9.7344 25.578 16.766 38.375-20.984-6.7656-38.887-20.449-50.984-38.375zm109.31 38.797c7.1406-12.938 12.801-25.875 16.992-38.797h35.312c-12.348 18.301-30.746 32.188-52.305 38.797zm52.309-147.42h-35c-4.1953-12.977-9.9141-25.902-17.168-38.762 21.5 6.6289 39.844 20.5 52.168 38.762zm-63.195-41.434c8.3477 13.73 14.797 27.551 19.484 41.434h-33.324l-0.08203-42.965c4.7383 0.17969 9.3789 0.69922 13.922 1.5312zm-21.984 41.434h-33.824c4.6641-13.809 11.074-27.555 19.363-41.219 4.6836-0.92188 9.4805-1.5078 14.379-1.7305zm-25.605-38.32c-7.1367 12.715-12.777 25.492-16.926 38.324h-33.906c12.062-17.883 29.914-31.547 50.832-38.324z" fill="#6b1c18"/>
    </g>
    <g transform="matrix(.35278 0 0 .35278 -294.64 95.613)" clip-path="url(#f64bd8bcc0)">
    <path d="m171.96 314.97h-98.875c-16.121 0-29.234 13.113-29.234 29.227v154.59c0 16.113 13.113 29.223 29.234 29.223h98.875c16.121 0 29.238-13.109 29.238-29.223v-154.59c0-16.113-13.117-29.227-29.238-29.227zm21.09 183.81c0 11.625-9.4609 21.082-21.09 21.082h-98.875c-11.629 0-21.09-9.4531-21.09-21.082v-154.59c0-11.621 9.4609-21.086 21.09-21.086h98.875c11.629 0 21.09 9.4609 21.09 21.086z" fill="#6b1c18"/>
    </g>
    <g fill="#6b1c18">
    <path d="m-262.58 226.26h22.328c3.153 0 5.7189-2.5645 5.7189-5.7147 0-3.153-2.5659-5.7175-5.7189-5.7175h-22.328c-3.1516 0-5.7189 2.5645-5.7189 5.7175 1e-3 3.1502 2.5673 5.7147 5.7189 5.7147zm0-8.5604h22.328c1.5696 0 2.8456 1.2761 2.8456 2.8443 0 1.5668-1.2761 2.8415-2.8456 2.8415h-22.328c-1.5682 0-2.8443-1.2747-2.8443-2.8415 0-1.5682 1.2774-2.8443 2.8443-2.8443z" style="stroke-width:.35278"/>
    <path d="m-251.42 239.44c-7.9609 0-14.436 6.474-14.436 14.432 0 7.9568 6.4754 14.431 14.436 14.431 7.9596 0 14.435-6.474 14.435-14.431 0-7.9582-6.4754-14.432-14.435-14.432zm0 25.99c-6.3762 0-11.563-5.1842-11.563-11.558 0-6.3748 5.1869-11.56 11.563-11.56 6.3762 0 11.562 5.1856 11.562 11.56 0 6.3734-5.1869 11.558-11.562 11.558z" style="stroke-width:.35278"/>
    <path d="m-251.42 234.09c-10.911 0-19.789 8.876-19.789 19.782s8.8773 19.78 19.789 19.78c10.911 0 19.787-8.8746 19.787-19.78s-8.876-19.782-19.787-19.782zm0 36.69c-9.3266 0-16.914-7.5861-16.914-16.909 0-9.3238 7.5875-16.909 16.914-16.909 9.3266 0 16.914 7.5847 16.914 16.909 0 9.3224-7.5875 16.909-16.914 16.909z" style="stroke-width:.35278"/>
    </g>
    <g transform="matrix(.35278 0 0 .35278 -294.64 95.613)" clip-path="url(#3cfa49086b)">
    <path d="m427.06 314.97h-98.875c-16.121 0-29.238 13.113-29.238 29.227v154.59c0 16.113 13.117 29.223 29.238 29.223h98.875c16.121 0 29.234-13.109 29.234-29.223v-154.59c0-16.113-13.113-29.227-29.234-29.227zm21.09 183.81c0 11.625-9.4609 21.082-21.09 21.082h-98.875c-11.629 0-21.09-9.4531-21.09-21.082v-154.59c0-11.621 9.4609-21.086 21.09-21.086h98.875c11.629 0 21.09 9.4609 21.09 21.086z" fill="#6b1c18"/>
    </g>
    <g fill="#6b1c18">
    <path d="m-172.59 226.26h22.328c3.153 0 5.7189-2.5645 5.7189-5.7147 0-3.153-2.5673-5.7175-5.7189-5.7175h-22.328c-3.1543 0-5.7189 2.5645-5.7189 5.7175-1e-3 3.1502 2.5645 5.7147 5.7189 5.7147zm0-8.5604h22.328c1.5682 0 2.8443 1.2761 2.8443 2.8443 0 1.5668-1.2774 2.8415-2.8443 2.8415h-22.328c-1.5696 0-2.8456-1.2747-2.8456-2.8415 0-1.5682 1.2761-2.8443 2.8456-2.8443z" style="stroke-width:.35278"/>
    <path d="m-161.43 239.44c-7.9596 0-14.435 6.474-14.435 14.432 0 7.9568 6.4754 14.431 14.435 14.431 7.9609 0 14.436-6.474 14.436-14.431 0-7.9582-6.4754-14.432-14.436-14.432zm0 25.99c-6.3762 0-11.562-5.1842-11.562-11.558 0-6.3748 5.1869-11.56 11.562-11.56 6.3762 0 11.563 5.1856 11.563 11.56 0 6.3734-5.1869 11.558-11.563 11.558z" style="stroke-width:.35278"/>
    <path d="m-161.43 234.09c-10.911 0-19.787 8.876-19.787 19.782s8.876 19.78 19.787 19.78c10.911 0 19.789-8.8746 19.789-19.78s-8.8773-19.782-19.789-19.782zm0 36.69c-9.3266 0-16.914-7.5861-16.914-16.909 0-9.3238 7.5875-16.909 16.914-16.909s16.915 7.5847 16.915 16.909c0 9.3224-7.5889 16.909-16.915 16.909z" style="stroke-width:.35278"/>
    <path d="m-273.32 198.64c0.87092 0.56086 1.9279 0.85714 3.0262 0.85714 0.20533 0 0.41203-0.01 0.6215-0.0303 2.8429-0.28663 4.9568-2.4942 4.7129-4.9237-4e-3 -0.0331-0.0179-0.0634-0.022-0.0978-3e-3 -0.0152 3e-3 -0.0303 0-0.0455l-1.4414-7.0624c1.5365-1.7253 3.6821-3.124 6.3927-4.1603 0.51676-0.19843 0.87505-0.67661 0.91915-1.2292 0.0441-0.55259-0.23564-1.0804-0.71658-1.3574-3.2563-1.8728-6.5719-2.2242-9.8612-1.0446-0.67248 0.24116-1.0652 0.93845-0.92329 1.6399l1.2278 6.0165c3e-3 0.0234 7e-3 0.0427 0.0138 0.0648l0.71795 3.5168c-0.60358-0.1378-1.2457-0.18879-1.91-0.12126-2.8429 0.28801-4.9568 2.497-4.7115 4.9237 0.12265 1.2196 0.83509 2.3303 1.9541 3.0537zm9.1805-16.711c-1.0969 0.61598-2.0864 1.3036-2.9669 2.0615l-0.42443-2.0808c1.1328-0.2384 2.2586-0.23288 3.3914 0.0193zm-6.1336 11.591c0.10473-0.011 0.20946-0.0152 0.31419-0.0152 1.0198 0 1.9141 0.49885 2.0988 1.17l0.0386 0.18328c0.0565 0.81442-0.93017 1.6261-2.1415 1.7487-0.66008 0.0689-1.3188-0.073-1.7997-0.38171-0.22324-0.14608-0.60496-0.45751-0.65319-0.93018-0.0813-0.82131 0.91778-1.6509 2.1428-1.7749z" style="stroke-width:.35278"/>
    <path d="m-163.84 186.06c0.0427-0.5526-0.23564-1.0818-0.71796-1.3574-3.2549-1.87-6.5746-2.2228-9.8612-1.0432-0.67248 0.24116-1.0666 0.93845-0.92466 1.6399l1.232 6.0303c1e-3 0.0124 4e-3 0.0234 7e-3 0.0331l0.71796 3.5223c-0.61047-0.13642-1.2554-0.17638-1.9058-0.10886-1.3174 0.13367-2.5287 0.67937-3.4093 1.5379-0.95223 0.9288-1.4276 2.1649-1.3036 3.3831 0.12265 1.2209 0.83647 2.333 1.9541 3.0551 0.86954 0.56087 1.9251 0.85714 3.022 0.85714 0.20808 0 0.41617-0.01 0.62425-0.0303 1.3174-0.13367 2.5287-0.67937 3.4079-1.5379 0.95222-0.93017 1.429-2.1635 1.305-3.3831-3e-3 -0.0331-0.0179-0.0634-0.0221-0.0965-3e-3 -0.0152 3e-3 -0.0303 0-0.0469l-1.4414-7.0624c1.5365-1.7267 3.6849-3.1254 6.3941-4.163 0.5209-0.19706 0.87781-0.67662 0.92191-1.2292zm-10.853 14.661c-0.6587 0.0689-1.3188-0.073-1.7983-0.38171-0.22324-0.14607-0.60496-0.45613-0.65181-0.93018-0.0496-0.47266 0.26458-0.85438 0.452-1.039 0.40927-0.40101 1.0253-0.66835 1.6881-0.73587 0.10887-0.011 0.21773-0.0179 0.3266-0.0179 0.54846 0 1.0735 0.14193 1.4759 0.39963 0.20532 0.13229 0.53743 0.41617 0.62425 0.83095l0.0262 0.12403c0.0331 0.46026-0.26596 0.83095-0.45199 1.0129-0.41066 0.40376-1.0253 0.66972-1.6909 0.73725zm2.8567-12.617-0.42305-2.0781c1.1328-0.23702 2.2586-0.23151 3.39 0.0179-1.0955 0.6146-2.0864 1.3036-2.9669 2.0602z" style="stroke-width:.35278"/>
    <path d="m-133.13 184.5c-0.76206-0.20946-1.5558 0.23565-1.768 1.0018l-2.6141 9.4285c-0.48231-0.39687-1.0377-0.72622-1.6481-0.96325-2.6651-1.0349-5.5494-0.0275-6.4354 2.2448-0.8847 2.2724 0.56362 4.9637 3.2274 6.0014 0.71106 0.27561 1.4373 0.40652 2.1387 0.40652 1.9237 0 3.6477-0.98667 4.2967-2.6527 0.0124-0.0289 0.0124-0.0593 0.0234-0.0882 5e-3 -0.0166 0.0179-0.0317 0.0234-0.0482l3.7593-13.564c0.20946-0.76344-0.2384-1.553-1.0032-1.7666zm-8.1966 15.039c-1.1465-0.44648-1.8893-1.5131-1.5889-2.2834 0.20257-0.5209 0.85025-0.81993 1.6054-0.81993 0.35829 0 0.74139 0.0675 1.1107 0.20946 0.62012 0.24116 1.141 0.66284 1.429 1.1589 0.12402 0.21222 0.29076 0.61598 0.17914 1.0253l-0.0345 0.12403c-0.31832 0.74965-1.5682 1.0239-2.701 0.58566z" style="stroke-width:.35278"/>
    <path d="m-119.38 224.98c-0.76481-0.20946-1.5572 0.23565-1.7694 1.0005l-2.6183 9.4437c-0.47542-0.39549-1.0225-0.73311-1.644-0.97427-1.2361-0.48231-2.5632-0.54433-3.7359-0.17914-1.2706 0.39687-2.2545 1.2802-2.701 2.424-0.88332 2.2752 0.565 4.9665 3.2274 6 0.70555 0.27561 1.44 0.41341 2.1594 0.41341 0.54019 0 1.0735-0.0786 1.5765-0.23426 1.152-0.36105 2.0464-1.1328 2.5397-2.1236 6e-3 -8e-3 8e-3 -0.0179 0.0138-0.0289 0.0441-0.0909 0.10748-0.17501 0.14469-0.27147 0.0124-0.0275 0.0138-0.0592 0.0234-0.0882 6e-3 -0.0179 0.0179-0.0303 0.0234-0.0496l3.7593-13.564c0.21359-0.76619-0.23565-1.5572-0.99908-1.768zm-6.361 15.15c-0.54433 0.16813-1.2154 0.12954-1.8383-0.11162-1.1465-0.44648-1.8893-1.5145-1.5889-2.2848 0.17225-0.44235 0.62425-0.63941 0.87781-0.72072 0.22324-0.0689 0.46577-0.10335 0.71658-0.10335 0.36655 0 0.75241 0.073 1.1217 0.21635 1.0886 0.42306 1.8025 1.4042 1.6151 2.1635l-0.04 0.14194c-0.17915 0.42443-0.61598 0.62012-0.86403 0.69866z" style="stroke-width:.35278"/>
    <path d="m-162.78 154.01c0 0.79375 0.64355 1.4359 1.4373 1.4359 3.2191 0 5.4625 4.7556 5.4625 9.0206 0 0.79512 0.64354 1.4373 1.4373 1.4373 0.79238 0 1.4359-0.64217 1.4359-1.4373 0-4.2664 2.2448-9.0206 5.4625-9.0206 0.79375 0 1.4373-0.64217 1.4373-1.4359 0-0.79512-0.64355-1.4373-1.4373-1.4373-3.5856 0-5.4625-4.52-5.4625-8.9862 0-0.79513-0.64354-1.4373-1.4359-1.4373-0.79375 0-1.4373 0.64216-1.4373 1.4373 0 4.4648-1.8769 8.9862-5.4625 8.9862-0.79375 0-1.4373 0.64217-1.4373 1.4373zm8.3385-3.4975c0.71658 1.4938 1.6743 2.7078 2.814 3.5581-1.1603 0.93844-2.1112 2.2558-2.814 3.7703-0.70555-1.5145-1.655-2.8319-2.8153-3.7703 1.1396-0.85025 2.0974-2.0643 2.8153-3.5581z" style="stroke-width:.35278"/>
    <path d="m-175.24 117.1c3.2205 0 5.4626 4.7556 5.4626 9.022 0 0.79375 0.64354 1.4359 1.4373 1.4359s1.4373-0.64216 1.4373-1.4359c0-4.2678 2.2434-9.022 5.4626-9.022 0.79237 0 1.4359-0.64216 1.4359-1.4359 0-0.79513-0.64354-1.4373-1.4359-1.4373-3.587 0-5.4626-4.5213-5.4626-8.9876 0-0.79513-0.64354-1.4373-1.4373-1.4373s-1.4373 0.64217-1.4373 1.4373c0 4.4648-1.8755 8.9876-5.4626 8.9876-0.79237 0-1.4373 0.64217-1.4373 1.4373 0 0.79375 0.64492 1.4359 1.4373 1.4359zm6.8998-4.932c0.71658 1.4938 1.6757 2.7078 2.8153 3.5581-1.1617 0.93844-2.1112 2.2558-2.8153 3.7703-0.70556-1.5145-1.6536-2.8319-2.8153-3.7703 1.141-0.85025 2.1001-2.0643 2.8153-3.5581z" style="stroke-width:.35278"/>
    <path d="m-248.96 189.94c-0.79375 0-1.4373 0.64078-1.4373 1.4359 0 0.79375 0.64354 1.4359 1.4373 1.4359 3.2191 0 5.4625 4.7556 5.4625 9.022 0 0.79375 0.64355 1.4359 1.4373 1.4359 0.79237 0 1.4359-0.64217 1.4359-1.4359 0-4.2678 2.2448-9.022 5.4625-9.022 0.79375 0 1.4373-0.64217 1.4373-1.4359 0-0.79513-0.64354-1.4359-1.4373-1.4359-3.5857 0-5.4625-4.5227-5.4625-8.989 0-0.79375-0.64355-1.4359-1.4359-1.4359-0.79375 0-1.4373 0.64216-1.4373 1.4359 1e-3 4.4662-1.8769 8.989-5.4625 8.989zm6.9012-2.0602c0.71658 1.4938 1.6743 2.7092 2.814 3.5595-1.1603 0.93707-2.1112 2.2545-2.814 3.7703-0.70556-1.5158-1.6536-2.8332-2.8153-3.7703 1.1396-0.85162 2.0974-2.0657 2.8153-3.5595z" style="stroke-width:.35278"/>
    <path d="m-259.16 130.48c3.2205 0 5.4626 4.7556 5.4626 9.022 0 0.79375 0.64354 1.4359 1.4373 1.4359 0.79237 0 1.4359-0.64216 1.4359-1.4359 0-4.2678 2.2448-9.022 5.4639-9.022 0.79237 0 1.4359-0.64216 1.4359-1.4359 0-0.79513-0.64354-1.4373-1.4359-1.4373-3.587 0-5.4639-4.52-5.4639-8.9862 0-0.79513-0.64354-1.4359-1.4359-1.4359-0.79375 0-1.4373 0.64079-1.4373 1.4359 0 4.4648-1.8769 8.9862-5.4626 8.9862-0.79375 0-1.4373 0.64217-1.4373 1.4373 0 0.79375 0.64354 1.4359 1.4373 1.4359zm6.9012-4.9334c0.71658 1.4938 1.6757 2.7092 2.814 3.5595-1.1603 0.93707-2.1098 2.2545-2.814 3.7703-0.70556-1.5158-1.6536-2.8332-2.8153-3.7703 1.1396-0.85025 2.0988-2.0657 2.8153-3.5595z" style="stroke-width:.35278"/>
    <path d="m-196.69 208.9-10.587-7.5062c-0.36105-0.25494-0.81718-0.33073-1.2444-0.20533-0.42306 0.12678-0.76619 0.44373-0.92604 0.85576l-3.5498 9.1199c-0.43959-0.44511-0.95911-0.82682-1.5434-1.1245-1.1796-0.6022-2.4915-0.79788-3.6973-0.55121-1.305 0.26733-2.373 1.0473-2.9297 2.1387-1.1079 2.1732 0.0593 4.9968 2.6059 6.2935 0.8475 0.4327 1.7639 0.65457 2.6596 0.65457 0.3514 0 0.70004-0.0331 1.0404-0.10335 1.305-0.26597 2.3716-1.0459 2.9297-2.1387 0.0138-0.0275 0.0179-0.0606 0.0331-0.0896 7e-3 -0.0165 0.0193-0.0262 0.0262-0.0413l4.4359-11.402 8.1718 5.7905-3.1419 8.0767c-0.43959-0.44511-0.96049-0.82682-1.5434-1.1245-1.181-0.60083-2.4942-0.80064-3.6986-0.55122-1.305 0.26734-2.3716 1.0473-2.9297 2.1387-1.108 2.1732 0.0606 4.9968 2.6059 6.2935 0.84887 0.4327 1.7653 0.65457 2.6596 0.65457 0.35278 0 0.70004-0.0331 1.0404-0.10336 1.1906-0.24253 2.1621-0.92742 2.7506-1.8728 0.0221-0.0262 0.0372-0.0579 0.0579-0.0854 0.0372-0.0634 0.0868-0.11576 0.11989-0.18052 0.0138-0.0248 0.0179-0.0524 0.0289-0.0786 8e-3 -0.0193 0.0234-0.0331 0.0303-0.0537l5.1042-13.118c0.23978-0.60909 0.0289-1.3078-0.50849-1.6867zm-18.748 6.7607c-0.55949 0.113-1.221 7e-3 -1.8163-0.29628-1.0969-0.56086-1.7281-1.695-1.3532-2.4309 0.21497-0.42306 0.68488-0.57602 0.94671-0.62839 0.14607-0.0303 0.30041-0.0441 0.45751-0.0441 0.44511 0 0.92053 0.11713 1.3588 0.34037 0.59255 0.30179 1.0694 0.77446 1.305 1.2954 0.10197 0.22324 0.22462 0.63665 0.0786 1.0322l-0.0496 0.1254c-0.22049 0.40239-0.67248 0.5526-0.92742 0.60634zm10.587 7.5048c-0.55672 0.11162-1.2209 7e-3 -1.8162-0.29628-1.0955-0.56086-1.7281-1.695-1.3519-2.4308 0.21498-0.42306 0.68489-0.57602 0.94534-0.62839 0.14607-0.0303 0.30041-0.0455 0.45889-0.0455 0.4451 0 0.92053 0.11852 1.3587 0.34314 0.59394 0.30041 1.0694 0.7717 1.3064 1.294 0.10198 0.22186 0.22324 0.63665 0.0772 1.0322l-0.0482 0.1254c-0.22324 0.40376-0.67524 0.55397-0.93018 0.60633z" style="stroke-width:.35278"/>
    <path d="m-283.89 247.18-2.814-13.791c-0.15847-0.77721-0.91226-1.2788-1.695-1.119-0.77859 0.15709-1.2802 0.91777-1.1217 1.695l1.9554 9.5856c-0.61047-0.13643-1.2554-0.17639-1.9058-0.10887-1.3174 0.13367-2.5287 0.67937-3.4079 1.5379-0.9536 0.9288-1.429 2.1649-1.305 3.3831 0.12403 1.2196 0.83647 2.333 1.9541 3.0537 0.87092 0.56224 1.9265 0.85989 3.0276 0.85989 0.20671 0 0.41341-0.011 0.62012-0.0303 2.8443-0.28939 4.9568-2.4984 4.7115-4.9237-3e-3 -0.0331-0.0165-0.0634-0.0207-0.0965 0-0.0152 6e-3 -0.0303 1e-3 -0.0455zm-4.9788 2.2076c-0.65871 0.0675-1.3188-0.0717-1.8011-0.38447-0.22324-0.14469-0.60496-0.45475-0.65319-0.92879-0.0496-0.47267 0.26458-0.85439 0.452-1.0404 0.40927-0.39963 1.0253-0.66698 1.6881-0.7345 0.11025-0.0124 0.21773-0.0179 0.3266-0.0179 0.54846 0 1.0735 0.14056 1.4759 0.39963 0.20532 0.13229 0.53605 0.41479 0.62425 0.82958l0.0262 0.12678c0.0579 0.81442-0.9288 1.6275-2.1387 1.7501z" style="stroke-width:.35278"/>
    </g>
    </g>
    </svg>

    <p></p>
    <h5></h5>
</div>

<picture class="deco-grande deco-grande-musica">
    <source srcset="/img/DecoGrandeMusicaMensaje.png">
    <img src="/img/DecoGrandeMusicaMensaje.png" alt="Decoracion Floral">
</picture>
<picture class="deco-peque deco-peque-musica">
    <source srcset="/img/DecoPequeMusicaMensaje.png">
    <img src="/img/DecoPequeMusicaMensaje.png" alt="Decoracion Floral">
</picture>

<div class="seccion-mensaje">
    <svg class="icono-mensaje-sobre" version="1.1" viewBox="0 0 178.6 150.85" xmlns="http://www.w3.org/2000/svg">
    <defs>
    <clipPath id="a0ad3993f3">
    <path d="m949 34.246h70v69.754h-70z"/>
    </clipPath>
    <clipPath id="88643b9a29">
    <path d="m512.25 52h488.75v353.38h-488.75z"/>
    </clipPath>
    <clipPath id="3f9ffc5a8a">
    <path d="m815 342h109v120h-109z"/>
    </clipPath>
    <clipPath id="c601a323ce">
    <path d="m829.93 334.3 99.699 38.668-40.945 105.57-99.699-38.672z"/>
    </clipPath>
    <clipPath id="747375499b">
    <path d="m829.93 334.3 99.699 38.668-40.945 105.57-99.699-38.672z"/>
    </clipPath>
    <clipPath id="0fb69b8558">
    <path d="m901 271h71v80h-71z"/>
    </clipPath>
    <clipPath id="92ec841e1d">
    <path d="m911.43 266.34 64.512 25.023-27.297 70.375-64.512-25.02z"/>
    </clipPath>
    <clipPath id="0f7b861270">
    <path d="m911.43 266.34 64.512 25.023-27.297 70.375-64.512-25.02z"/>
    </clipPath>
    </defs>
    <metadata>
    <rdf:RDF>
    <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
        <dc:title/>
    </cc:Work>
    </rdf:RDF>
    </metadata>
    <g transform="translate(-102.14 -39.535)">
    <g fill="#6b1c18">
    <path d="m215.8 76.57h-87.543c-1.1203 0-2.0298-0.91088-2.0298-2.034 0-1.1217 0.90951-2.0326 2.0298-2.0326h87.543c1.1203 0 2.0312 0.91088 2.0312 2.0326 0 1.1231-0.91088 2.034-2.0312 2.034z" style="stroke-width:.35278"/>
    <path d="m200.38 96.286h-72.121c-1.1203 0-2.0298-0.91088-2.0298-2.0326 0-1.1231 0.90951-2.034 2.0298-2.034h72.121c1.1217 0 2.0312 0.91088 2.0312 2.034 0 1.1217-0.90951 2.0326-2.0312 2.0326z" style="stroke-width:.35278"/>
    <path d="m200.38 116h-72.121c-1.1203 0-2.0298-0.91088-2.0298-2.034s0.90951-2.034 2.0298-2.034h72.121c1.1217 0 2.0312 0.91088 2.0312 2.034s-0.90951 2.034-2.0312 2.034z" style="stroke-width:.35278"/>
    </g>
    <g transform="matrix(.35278 0 0 .35278 -78.575 27.44)" clip-path="url(#a0ad3993f3)">
    <path d="m994.64 103.22c-1.4766 0-2.9492-0.5625-4.0703-1.6914l-39.191-39.25c-1.082-1.082-1.6914-2.543-1.6914-4.0742 0-1.5273 0.60937-2.9961 1.6914-4.0742l10.016-10.031c6.3164-6.3242 14.723-9.8164 23.664-9.8164s17.348 3.4922 23.664 9.8164c13.051 13.07 13.051 34.332 0 47.398l-10.016 10.031c-1.1211 1.1211-2.5938 1.6914-4.0664 1.6914zm-31.051-45.016 31.051 31.094 5.9453-5.9492c8.5586-8.5703 8.5586-22.523 0-31.094-4.1445-4.1484-9.6562-6.4414-15.519-6.4414s-11.375 2.2852-15.52 6.4414z" fill="#6b1c18"/>
    </g>
    <g transform="matrix(.35278 0 0 .35278 -78.575 27.44)" clip-path="url(#88643b9a29)">
    <path d="m998.71 93.375-39.184-39.242c-2.25-2.25-5.8945-2.25-8.1445 0l-50.984 51.051c-8.7891-23.598-31.508-40.457-58.098-40.457h-268.05c-34.188 0-62.004 27.859-62.004 62.094v123.55c0 32.305 24.762 58.926 56.285 61.832l0.5625 87.391c0.0156 2.3516 1.457 4.4609 3.6367 5.3203 0.69141 0.27734 1.4062 0.40625 2.1211 0.40625 1.5469 0 3.0625-0.6211 4.1758-1.7891l86.559-91.066h176.71c34.18 0 61.988-27.859 61.988-62.094v-54.285l94.422-94.559c2.25-2.25 2.25-5.9023 0-8.1562zm-105.93 157c0 27.879-22.645 50.562-50.477 50.562h-179.18c-1.5742 0-3.0859 0.64453-4.168 1.793l-78.43 82.508-0.50781-78.574c-0.0234-3.168-2.5938-5.7266-5.7578-5.7266-27.84 0-50.492-22.684-50.492-50.562v-123.55c0-27.879 22.652-50.562 50.492-50.562h268.05c23.543 0 43.375 16.234 48.926 38.117l-73.52 73.625c-0.71875 0.72266-1.2422 1.625-1.4961 2.6133l-13.938 53.203c-0.51563 1.9766 0.0508 4.0898 1.4961 5.5352 1.0977 1.0977 2.5625 1.6914 4.0742 1.6914 0.48437 0 0.97656-0.0625 1.4609-0.19141l53.121-13.953c0.98438-0.26172 1.8906-0.77735 2.6094-1.5l27.742-27.781zm11.512-70.59-46.289 46.359-42.09 11.055 11.039-42.148 128.5-128.69 31.051 31.086z" fill="#6b1c18"/>
    </g>
    <path d="m223.53 109.75c-0.51952 0-1.0404-0.19843-1.4345-0.59669l-11.414-11.431c-0.79375-0.79375-0.79375-2.0822 0-2.876 0.79375-0.79513 2.0795-0.79513 2.8732 0l11.413 11.429c0.79375 0.79513 0.79375 2.0822 0 2.8773-0.39688 0.3955-0.91778 0.59669-1.4373 0.59669z" fill="#6b1c18" style="stroke-width:.35278"/>
    <g transform="matrix(.35278 0 0 .35278 -78.575 27.44)" clip-path="url(#3f9ffc5a8a)">
    <g clip-path="url(#c601a323ce)">
        <g clip-path="url(#747375499b)">
        <path d="m832.7 346.23c3.5586-2.4258 7.6211-2.9805 11.578-3.5781 2.8516-0.43359 5.7422-0.0781 8.6016 0.875 4.4961 1.5039 7.8867 4.3086 10.301 8.2344 1.4688 2.3867 2.5391 5.0859 3.418 7.7774 0.78125 2.3906 1.1641 4.9414 1.5352 7.4531 0.55859 3.8125 0.53906 7.6562 0.0234 11.5-0.50782 3.7656-1.1484 7.5039-2.4219 11.105-0.0547 0.15625 8e-3 0.35547 0.0156 0.53516 0.23437-0.11328 0.58203-0.16016 0.6875-0.34766 1.4766-2.6055 3.5469-4.707 5.5625-6.8711 2.0938-2.2539 4.4141-4.2227 7.082-5.707 2.4219-1.3516 4.9023-2.6211 7.4297-3.75 3.5274-1.5742 7.0625-3.1836 10.711-4.4102 3.7266-1.2578 7.625-1.6641 11.551-1.0352 6.043 0.97266 11.066 3.5156 13.609 9.4766 1.4766 3.4648 1.6211 7.1758 0.69531 10.879-0.52344 2.0742-1.0352 4.1875-1.8789 6.1445-1.4375 3.3242-3.3945 6.3633-5.5703 9.2774-3.2344 4.332-7.0938 8.043-10.934 11.797-3.1836 3.1133-6.1562 6.4531-9.3203 9.5898-1.9492 1.9297-4.0664 3.6875-6.1367 5.4922-1.9844 1.7305-3.957 3.4805-6.0195 5.1133-4.3906 3.4922-8.8281 6.9219-13.258 10.359-5.6836 4.4102-11.348 8.8438-17.09 13.168-1.3594 1.0273-2.9453 1.8086-4.5273 2.4297-1.3594 0.53125-2.3438-0.33203-2.793-1.7812-0.37891-1.2344-0.98438-2.3984-1.5117-3.582-2.0508-4.6328-4.2695-9.1953-6.1133-13.91-1.3242-3.3789-2.2188-6.9414-3.1797-10.457-0.8125-2.9883-2.3086-5.6211-3.7852-8.2734-1.2734-2.293-2.582-4.5664-3.9062-6.8281-2.8945-4.9531-5.4688-10.07-7.5898-15.414-1.6172-4.0859-2.6484-8.3359-3.3672-12.691-0.84765-5.1211-0.71875-10.25-0.125-15.371 0.23828-2.0391 0.92578-4.0352 1.4844-6.0312 0.41015-1.4805 0.79687-2.9961 1.4453-4.3789 2.0156-4.2812 4.4102-8.3398 7.9258-11.582 1.9023-1.7539 3.8555-3.4492 5.8711-5.207m64.152 29.188c-2.4375 0.0625-4.8477 0.26172-7.0156 1.6055-3.125 1.9297-6.3984 3.6484-9.3242 5.8516-3.5352 2.6602-6.8281 5.668-10.121 8.6406-2.9961 2.707-4.7734 6.3359-6.7617 9.7773-1.0039 1.7422-1.7539 3.6328-2.6758 5.4219-0.86719 1.6836-2.7383 2.0078-3.375 0.55469-0.25391-0.57813 0.16797-1.4648 0.26953-2.2148 0.0312-0.25 0.0234-0.5039 0.0352-0.75781-0.22656 0.125-0.50391 0.20313-0.67969 0.38281-0.77344 0.77344-1.4844 1.6133-2.2852 2.3594-0.63671 0.59765-2.1914 0.58594-2.5508-0.0508-0.4414-0.77735-0.92578-1.5859 0.043-2.5156 1.582-1.5078 3.0469-3.1445 4.5274-4.7578 0.68359-0.74609 1.3438-1.4297 1.2578-2.6797-0.22266-3.2344-0.26953-6.4844-0.33594-9.7305-0.10547-5.3047-0.98437-10.477-2.4336-15.539-0.7461-2.5859-1.6562-5.125-2.5117-7.6758-1.6524-4.9219-3.8203-9.5469-7.6172-13.164-1.4805-1.4102-3.1016-2.6367-5.2734-2.7422-1.9883-0.0977-3.5508 1.0742-5.1328 2.0117-1.0898 0.64062-2.082 1.5781-2.8789 2.5781-1.2773 1.5977-2.3516 3.3359-2.7188 5.4492-0.27343 1.5625-0.96484 3.0586-1.1719 4.625-0.58594 4.4102-0.61719 8.8516-0.13281 13.262 0.49609 4.5312 1.0664 9.0586 1.7695 13.562 0.76953 4.9219 1.6484 9.832 2.625 14.715 1.1016 5.5 2.3359 10.977 3.5742 16.445 0.48047 2.1211 0.92187 4.2969 1.7773 6.2656 0.90625 2.0898 2.2227 4.0039 3.4648 5.9219 2.1328 3.2891 4.2734 6.582 6.5508 9.7695 1.7226 2.4141 3.6641 4.6641 5.5 6.9922 0.52734 0.66796 1.0234 0.92187 1.7812 0.19531 0.73828-0.70703 1.6172-1.2617 2.4219-1.9062 3.1641-2.5391 6.3242-5.0898 9.4844-7.6367 2.7656-2.2227 5.5078-4.4727 8.3047-6.6562 3.1172-2.4375 6.3086-4.7734 9.418-7.2188 3.9688-3.1172 7.7969-6.4258 11.855-9.418 5.7773-4.2578 9.5312-10.051 12.598-16.371 1.0352-2.1328 1.6914-4.4648 2.3711-6.7461 0.72656-2.457 1.0234-4.957 0.54297-7.5273-0.92578-4.9219-3.5938-8.4922-8.1914-10.191-2.1055-0.77734-4.5352-0.66797-6.9844-0.88672m-34 10.859c0.51562-2.8711 1.2852-5.7266 1.4766-8.6133 0.22266-3.3047 0.14063-6.6641-0.1875-9.957-0.54687-5.5391-2.0938-10.777-5.5352-15.246-2.6367-3.4219-6.0625-5.3984-10.359-5.8047-0.43359-0.043-0.88281 0.0547-1.3242 0.0898 0.3125 0.30469 0.625 0.61328 0.93359 0.92187 0.082 0.082 0.15625 0.17579 0.24219 0.25 2.875 2.4766 4.8281 5.6797 6.3711 9.0781 1.5 3.293 2.6328 6.7695 3.8516 10.191 1.8203 5.1172 2.6406 10.469 3.2148 15.859 0.19922 1.8594 0.13672 3.75 0.22656 5.6211 8e-3 0.20704 0.22657 0.39844 0.34766 0.59766 0.14063-0.19531 0.35547-0.37109 0.40234-0.58594 0.17188-0.74218 0.28125-1.4922 0.33985-2.4023m-38.621-24.273c-0.39062 0.42969-0.94531 0.79688-1.1406 1.3008-0.63281 1.625-1.1484 3.3008-1.6875 4.9648-0.31641 0.97656-0.71875 1.9531-0.85938 2.9609-0.45703 3.2344-0.92187 6.4492-0.91796 9.7578 4e-3 6.4922 1.2812 12.676 3.543 18.652 1.1172 2.9609 2.5547 5.8008 3.8984 8.6719 0.7461 1.5938 1.5859 3.1406 2.4102 4.6953 0.1289 0.24609 0.38672 0.41797 0.58594 0.625 0.0195-0.30469 0.11328-0.62891 0.043-0.90625-0.4375-1.7539-1.0156-3.4766-1.3555-5.2461-0.75-3.918-1.4258-7.8476-2.0625-11.785-0.875-5.4062-1.8633-10.797-2.4766-16.238-0.64453-5.7617-1.2578-11.578 0.0195-17.453m81.648 10.902c1.707 0.30859 3.0469 1.3047 4.3242 2.3867 3.668 3.0938 5.5352 7.2031 6.0586 11.93 0.3711 3.3555-0.16015 6.6562-1.6016 9.7774-0.11328 0.25-0.0586 0.57812-0.082 0.86718 0.25781-0.20703 0.64063-0.35937 0.75781-0.625 1.0352-2.3359 2.1211-4.6523 2.9844-7.0508 0.55078-1.543 0.88672-3.1953 1.082-4.8281 0.70703-5.8789-2.2734-10.52-7.7539-12.363-1.8164-0.61329-3.7773-0.8086-5.6797-1.1328-0.54297-0.0937-1.125 0.0156-1.6875 0.0352 0.45312 0.30469 0.91015 0.60937 1.5976 1.0039m-62.012 71.316c-0.16015-0.22265-0.29687-0.47265-0.48828-0.66406-0.26172-0.25391-0.5664-0.46094-0.85156-0.6875 0.0625 0.3125 0.0703 0.65625 0.19922 0.9375 1.5234 3.2734 3.0469 6.5469 4.625 9.793 0.13281 0.27734 0.66015 0.55469 0.95312 0.5039 0.5586-0.0976 1.1367-0.35937 1.5938-0.70312 0.20313-0.15234 0.31641-0.80859 0.16797-1.0039-2.0117-2.6953-4.0781-5.3476-6.1992-8.1758z" fill="#6b1c18"/>
        </g>
    </g>
    </g>
    <g transform="matrix(.35278 0 0 .35278 -78.575 27.44)" clip-path="url(#0fb69b8558)">
    <g clip-path="url(#92ec841e1d)">
        <g clip-path="url(#0f7b861270)">
        <path d="m913.14 274.25c2.3281-1.6328 4.9727-2.0312 7.5469-2.4531 1.8516-0.30469 3.7305-0.0899 5.582 0.52734 2.9102 0.96485 5.0938 2.8047 6.6367 5.3984 0.9375 1.5742 1.6133 3.3594 2.168 5.1406 0.49219 1.582 0.72266 3.2734 0.94922 4.9375 0.33985 2.5312 0.30078 5.082-0.0625 7.6367-0.35156 2.5039-0.79297 4.9922-1.6445 7.3945-0.0391 0.10157 0 0.23438 4e-3 0.35157 0.15625-0.0742 0.3789-0.10938 0.44922-0.23438 0.97656-1.7422 2.3359-3.1484 3.6602-4.6016 1.375-1.5078 2.8945-2.832 4.6406-3.8359 1.582-0.91015 3.1992-1.7695 4.8476-2.5352 2.3047-1.0703 4.6094-2.1641 6.9883-3.0039 2.4297-0.85547 4.9648-1.1523 7.5117-0.75781 3.918 0.60156 7.1641 2.2578 8.7774 6.1992 0.9375 2.293 1.0039 4.7578 0.3789 7.2188-0.35156 1.3828-0.69921 2.7891-1.2578 4.0938-0.95703 2.2188-2.25 4.2461-3.6836 6.1953-2.1289 2.9023-4.6602 5.3906-7.1758 7.9062-2.0938 2.0898-4.043 4.3281-6.1211 6.4297-1.2773 1.2969-2.668 2.4766-4.0234 3.6875-1.3008 1.1641-2.5938 2.3359-3.9414 3.4375-2.875 2.3438-5.7812 4.6523-8.6797 6.9648-3.7226 2.9648-7.4297 5.9492-11.191 8.8594-0.89063 0.6875-1.9258 1.2188-2.957 1.6406-0.88671 0.36328-1.5195-0.20703-1.8008-1.1641-0.23828-0.81641-0.625-1.5859-0.95703-2.3711-1.3047-3.0586-2.7148-6.0742-3.8828-9.1953-0.83594-2.2344-1.3945-4.5938-1.9961-6.9219-0.50782-1.9805-1.4609-3.7188-2.4024-5.4688-0.8164-1.5117-1.6484-3.0156-2.4961-4.5078-1.8477-3.2695-3.4844-6.6523-4.8281-10.188-1.0234-2.6992-1.6641-5.5156-2.1055-8.4023-0.51562-3.3945-0.39843-6.8008 0.0234-10.207 0.16797-1.3555 0.62891-2.6875 1.0039-4.0156 0.27734-0.98437 0.53515-1.9961 0.96875-2.918 1.3359-2.8555 2.918-5.5664 5.2226-7.7422 1.2461-1.1797 2.5274-2.3164 3.8477-3.4961m41.484 18.957c-1.5859 0.0586-3.1524 0.20704-4.5703 1.1133-2.043 1.3008-4.1797 2.4648-6.0938 3.9492-2.3164 1.7891-4.4726 3.8047-6.6328 5.8047-1.9648 1.8164-3.1445 4.2383-4.457 6.5352-0.66406 1.1641-1.1641 2.4219-1.7734 3.6172-0.57422 1.125-1.793 1.3516-2.1992 0.39062-0.16015-0.38281 0.1211-0.97266 0.19141-1.4727 0.0234-0.16406 0.0195-0.33593 0.0312-0.5-0.15234 0.082-0.33203 0.13672-0.44531 0.25391-0.50782 0.52344-0.97657 1.0859-1.5 1.5859-0.41797 0.39844-1.4297 0.40234-1.6602-0.0195-0.28125-0.51172-0.58984-1.0469 0.0469-1.668 1.0391-1.0156 2-2.1094 2.9726-3.1914 0.44922-0.5 0.88281-0.95703 0.83594-1.7891-0.125-2.1445-0.13281-4.3047-0.15625-6.457-0.0312-3.5234-0.57031-6.9492-1.4805-10.301-0.46484-1.7148-1.0391-3.3945-1.5781-5.082-1.0391-3.2578-2.418-6.3164-4.8633-8.6914-0.95312-0.92578-1.9961-1.7305-3.4062-1.7852-1.293-0.0547-2.3125 0.73438-3.3476 1.3672-0.71094 0.43359-1.3633 1.0625-1.8867 1.7305-0.83984 1.0703-1.5508 2.2305-1.8047 3.6367-0.1875 1.0391-0.64453 2.0391-0.78906 3.0781-0.41016 2.9336-0.46094 5.8828-0.17578 8.8086 0.29687 3.0078 0.63281 6.0078 1.0625 8.9961 0.46484 3.2617 1.0039 6.5156 1.6094 9.75 0.67969 3.6484 1.4414 7.2734 2.2109 10.898 0.30078 1.4062 0.57422 2.8476 1.1133 4.1484 0.57422 1.3828 1.418 2.6445 2.2148 3.9102 1.3633 2.1719 2.7305 4.3438 4.1875 6.4453 1.1055 1.5898 2.3516 3.0703 3.5312 4.6055 0.33593 0.44141 0.65625 0.60547 1.1523 0.11719 0.48437-0.47266 1.0625-0.84766 1.5859-1.2812 2.0742-1.707 4.1406-3.4219 6.2148-5.1328 1.8086-1.4922 3.6055-3.0078 5.4336-4.4766 2.043-1.6367 4.1328-3.2109 6.168-4.8516 2.5977-2.0976 5.1055-4.3203 7.7617-6.332 3.7852-2.8672 6.2617-6.7383 8.293-10.957 0.68359-1.4219 1.1289-2.9727 1.5859-4.4961 0.48828-1.6328 0.69531-3.2969 0.39844-5-0.56641-3.2617-2.2774-5.6133-5.25-6.7109-1.3633-0.50391-2.9453-0.41406-4.5312-0.54688m-22.16 7.4375c0.35547-1.9102 0.87109-3.8125 1.0156-5.7305 0.16407-2.1953 0.13672-4.4258-0.0547-6.6094-0.32032-3.6758-1.2891-7.1445-3.4961-10.09-1.6914-2.2539-3.9023-3.543-6.6914-3.7852-0.28125-0.0234-0.57422 0.043-0.85938 0.0664 0.19922 0.20312 0.39844 0.40625 0.60156 0.60937 0.0508 0.0547 0.0977 0.11328 0.15235 0.16406 1.8516 1.625 3.0976 3.7383 4.0781 5.9844 0.95313 2.1797 1.668 4.4766 2.4375 6.7422 1.1484 3.3867 1.6445 6.9336 1.9844 10.512 0.11719 1.2305 0.0625 2.4883 0.10547 3.7305 8e-3 0.13672 0.14843 0.26563 0.22265 0.39454 0.0937-0.12891 0.23438-0.25 0.26953-0.39454 0.11329-0.48828 0.19141-0.98828 0.23438-1.5938m-24.93-15.863c-0.2539 0.28516-0.61719 0.53125-0.75 0.8711-0.42187 1.082-0.76562 2.1992-1.1289 3.3047-0.21094 0.65235-0.47657 1.3047-0.57422 1.9727-0.32032 2.1523-0.64063 4.2891-0.66407 6.4844-0.0391 4.3125 0.75 8.4102 2.1797 12.363 0.70703 1.9609 1.6211 3.8359 2.4766 5.7344 0.47266 1.0508 1.0078 2.0742 1.5352 3.1016 0.082 0.16407 0.24609 0.27735 0.375 0.41016 0.0156-0.19922 0.0781-0.41797 0.0352-0.60156-0.27344-1.1602-0.63672-2.3008-0.84766-3.4766-0.46094-2.5938-0.875-5.1992-1.2617-7.8086-0.53125-3.5859-1.1406-7.1602-1.5-10.766-0.38281-3.8242-0.74219-7.6836 0.125-11.59m52.969 6.6992c1.1055 0.19531 1.9688 0.84766 2.793 1.5547 2.3633 2.0352 3.5508 4.75 3.8594 7.8828 0.21875 2.2266-0.14844 4.4219-1.1055 6.5039-0.0781 0.16797-0.043 0.38281-0.0586 0.57812 0.16797-0.14062 0.41797-0.24218 0.4961-0.42187 0.6875-1.5547 1.4102-3.1016 1.9844-4.6992 0.36719-1.0273 0.59766-2.1289 0.73438-3.2148 0.5-3.9102-1.4062-6.9688-4.957-8.1602-1.1758-0.39063-2.4453-0.50781-3.6797-0.71484-0.35547-0.0586-0.73047 0.0195-1.0977 0.0351 0.29297 0.19922 0.58594 0.39844 1.0312 0.65625m-40.754 47.766c-0.10157-0.14844-0.1875-0.3125-0.3125-0.4375-0.16797-0.16797-0.36329-0.30078-0.54688-0.45313 0.0391 0.21094 0.0391 0.4375 0.12109 0.625 0.96875 2.1641 1.9375 4.3242 2.9414 6.4727 0.0859 0.17969 0.42578 0.36328 0.61719 0.32812 0.36328-0.0703 0.73828-0.24609 1.0391-0.48047 0.13281-0.10156 0.21094-0.53906 0.11719-0.66796-1.293-1.7734-2.6172-3.5234-3.9766-5.3867z" fill="#6b1c18"/>
        </g>
    </g>
    </g>
    </g>
    </svg>

</div>

<picture class="deco-grande deco-grande-mensaje">
    <source srcset="/img/DecoGrandeMusicaMensaje.png">
    <img src="/img/DecoGrandeMusicaMensaje.png" alt="Decoracion Floral">
</picture>
<picture class="deco-peque deco-peque-mensaje">
    <source srcset="/img/DecoPequeMusicaMensaje.png">
    <img src="/img/DecoPequeMusicaMensaje.png" alt="Decoracion Floral">
</picture>

<style>
    .seccion-musica{
        position: absolute;
        top: 5vh;
        left: 0vw;
        height: 60vh;
        width: 35vw;
        border: solid 5px var(--accent);
        border-left: none;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .seccion-mensaje{
        position: absolute;
        top: 30vh;
        right: 0vw;
        height: 60vh;
        width: 35vw;
        border: solid 5px var(--accent);
        border-right: none;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    
    .deco-grande {
        position: absolute;
    }
    .deco-grande img{
        width: 22vw;
		object-fit: cover;	
    }
    .deco-grande-musica{
        left: 19vw;
        top: 7.5vh;
    }
    .deco-grande-musica img{
        rotate: -27deg;
    }
    .deco-grande-mensaje{
        right: 18vw;
        top: 32vh;
    }
    .deco-grande-mensaje img{
        rotate: 155deg;
    }

    .deco-peque {
        position: absolute;
    }
    .deco-peque img{
		width: 15vw;
		object-fit: cover;	
    }

    .deco-peque-musica{
        top: 57vh;
        left: -6vw;
    }
    .deco-peque-mensaje{
        top: 81vh;
        right: -7vw;
    }

    .icono-disco-musica{
        position: relative;
        top: 0%;
        left: 25%;
        height: 40%;
    }
    .icono-mensaje-sobre{
        position: relative;
        top: 10%;
        left: 45%;
        height: 30%;
    }
</style>