<div class="pareja-container">
    <picture class="pareja-rsvp">
        <source srcset="/img/FotoEsquina.png">
        <img src="/img/FotoEsquina.png" alt="Pareja abrazandose" >
    </picture>
</div>

<div class="container-deco-grande-izq">
    <picture class="deco-grande deco-grande-izq">
        <source srcset="/img/DecoGrandeRSVP.png">
        <img src="/img/DecoGrandeRSVP.png" alt="Decoración floral" loading="lazy">
    </picture>
</div>

<div class="container-deco-grande-der">
    <picture class="deco-grande deco-grande-der">
        <source srcset="/img/DecoGrandeRSVP.png">
        <img src="/img/DecoGrandeRSVP.png" alt="Decoración floral" loading="lazy">
    </picture>
</div>

<picture class="deco-peque deco-peque-der">
    <source srcset="/img/DecoPequeRSVP.png">
    <img src="/img/DecoPequeRSVP.png" alt="Decoración floral" loading="lazy">
</picture>
<picture class="deco-peque deco-peque-izq">
    <source srcset="/img/DecoPequeRSVP.png">
    <img src="/img/DecoPequeRSVP.png" alt="Decoración floral" loading="lazy">
</picture>
<h1>
    RSPV
</h1>

<p>¿Vienes a celebrar con nosotros?</p>

<form class="seccion-invitados" id="enviar-confirmacion-form">
    <picture class="deco-invitados deco-invitados-superior">
        <source srcset="/img/SeparadorHorizontal_1.png">
        <img src="/img/SeparadorHorizontal_1.png" alt="Decoración floral" loading="lazy">
    </picture>
    <ul>
      <li>
        <span>Andres Gomez</span>
        <button type="button" id="aceptar123" name="invitado_id" value="123" class="aceptarSeleccionado">
          <span>Aceptado</span>
        </button>
        <button type="button" id="rechazar-Andres" name="invitado_id" value="AndresGomez" class="rechazar">
            <svg id="rechazar-svgandres" class="rechazar-svg response-svg" version="1.1" viewBox="0 0 181.44 181.43" xmlns="http://www.w3.org/2000/svg">
            <defs>
            <clipPath id="577a602fa9">
            <path d="m3 4h516v514.39h-516z"/>
            </clipPath>
            </defs>
            <metadata>
            <rdf:RDF>
            <cc:Work rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
              <dc:title/>
            </cc:Work>
            </rdf:RDF>
            </metadata>
            <g transform="translate(34.777 -51.84)">
            <g transform="matrix(.35278 0 0 .35278 -36.182 50.389)" clip-path="url(#577a602fa9)">
            <path d="m317.32 261.29 189.34-189.36c15.516-15.516 15.516-40.672 0-56.184-15.516-15.516-40.668-15.516-56.18 0l-189.34 189.36-189.34-189.36c-15.516-15.516-40.664-15.516-56.18 0-15.512 15.516-15.512 40.668 0 56.184l189.34 189.36-189.34 189.36c-15.512 15.516-15.512 40.668 0 56.18 7.7578 7.7578 17.922 11.637 28.09 11.637s20.332-3.8789 28.09-11.637l189.34-189.36 189.34 189.36c7.7578 7.7578 17.922 11.637 28.09 11.637s20.332-3.8789 28.09-11.637c15.516-15.516 15.516-40.668 0-56.18z" fill="#f9eae6"/>
            </g>
            </g>
            </svg>

            <svg class="loader-svg htmx-indicator" fill="#fff" version="1.1" id="svg-load" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 40 40" enable-background="new 0 0 0 0" xml:space="preserve">
            <circle fill="#fff" stroke="none" cx="6" cy="20" r="6">
              <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin="0.1"/>    
            </circle>
            <circle fill="#fff" stroke="none" cx="26" cy="20" r="6">
              <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite" 
              begin="0.2"/>       
            </circle>
            <circle fill="#fff" stroke="none" cx="46" cy="20" r="6">
              <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite" 
              begin="0.3"/>     
            </circle>
            </svg>

        </button>
      </li>
      <li>
        <span>María Hernandez</span>
        <button type="button" id="aceptar" name="invitado_id" value="" class="aceptar">
          <svg id="aceptar-svg" class="aceptar-svg response-svg" version="1.1" viewBox="0 0 167.13 173.09" xmlns="http://www.w3.org/2000/svg">
          <defs>
          <clipPath id="21d8b0576d-0">
          <path d="m550.25 1h473.75v492h-473.75z"/>
          </clipPath>
          </defs>
          <metadata>
          <rdf:RDF>
          <cc:Work rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
            <dc:title/>
          </cc:Work>
          </rdf:RDF>
          </metadata>
          <g transform="translate(-143.57 -26.461)">
          <g transform="matrix(.35278 0 0 .35278 -50.548 25.877)" clip-path="url(#21d8b0576d-0)">
          <path d="m1006.1 1.6562-21.289 14.574c-111.31 76.172-225.3 233.87-282.17 362.08-8.7852-12.301-11.438-16.375-19.949-30.051-34.766-46.977-78.848-87.293-99.766-102.18l-32.684 13.664 1.0352 1.9414c22.566 24.711 62.164 79.543 121.84 200.37 3.6602 5.2188 7.5625 10.34 12.004 15.117 11.68 12.512 23.652 15.145 31.641 15.145h0.0117c22.781 0 36.215-17.992 45.465-39.055 59.77-221.92 201.01-374.69 262.09-427.02z" fill="#f9eae6"/>
          </g>
          </g>
          </svg>

          <svg class="loader-svg htmx-indicator" fill="#fff" version="1.1" id="svg-load" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 40 40" enable-background="new 0 0 0 0" xml:space="preserve">
          <circle fill="#fff" stroke="none" cx="6" cy="20" r="6">
            <animate
            attributeName="opacity"
            dur="1s"
            values="0;1;0"
            repeatCount="indefinite"
            begin="0.1"/>    
          </circle>
          <circle fill="#fff" stroke="none" cx="26" cy="20" r="6">
            <animate
            attributeName="opacity"
            dur="1s"
            values="0;1;0"
            repeatCount="indefinite" 
            begin="0.2"/>       
          </circle>
          <circle fill="#fff" stroke="none" cx="46" cy="20" r="6">
            <animate
            attributeName="opacity"
            dur="1s"
            values="0;1;0"
            repeatCount="indefinite" 
            begin="0.3"/>     
          </circle>
          </svg>
        </button>
        <button type="button" id="rechazar" name="invitado_id" value="" class="rechazarSeleccionado">
          <span>Rechazado</span>
        </button>
      </li>
      <li>
        <span>Angel Gomez</span>
        <button type="button" id="aceptar" name="invitado_id" value="" class="aceptar">
          <svg id="aceptar-svg" class="aceptar-svg response-svg" version="1.1" viewBox="0 0 167.13 173.09" xmlns="http://www.w3.org/2000/svg">
          <defs>
          <clipPath id="21d8b0576d-0">
          <path d="m550.25 1h473.75v492h-473.75z"/>
          </clipPath>
          </defs>
          <metadata>
          <rdf:RDF>
          <cc:Work rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
            <dc:title/>
          </cc:Work>
          </rdf:RDF>
          </metadata>
          <g transform="translate(-143.57 -26.461)">
          <g transform="matrix(.35278 0 0 .35278 -50.548 25.877)" clip-path="url(#21d8b0576d-0)">
          <path d="m1006.1 1.6562-21.289 14.574c-111.31 76.172-225.3 233.87-282.17 362.08-8.7852-12.301-11.438-16.375-19.949-30.051-34.766-46.977-78.848-87.293-99.766-102.18l-32.684 13.664 1.0352 1.9414c22.566 24.711 62.164 79.543 121.84 200.37 3.6602 5.2188 7.5625 10.34 12.004 15.117 11.68 12.512 23.652 15.145 31.641 15.145h0.0117c22.781 0 36.215-17.992 45.465-39.055 59.77-221.92 201.01-374.69 262.09-427.02z" fill="#f9eae6"/>
          </g>
          </g>
          </svg>

          <svg class="loader-svg htmx-indicator" fill="#fff" version="1.1" id="svg-load" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 40 40" enable-background="new 0 0 0 0" xml:space="preserve">
          <circle fill="#fff" stroke="none" cx="6" cy="20" r="6">
            <animate
            attributeName="opacity"
            dur="1s"
            values="0;1;0"
            repeatCount="indefinite"
            begin="0.1"/>    
          </circle>
          <circle fill="#fff" stroke="none" cx="26" cy="20" r="6">
            <animate
            attributeName="opacity"
            dur="1s"
            values="0;1;0"
            repeatCount="indefinite" 
            begin="0.2"/>       
          </circle>
          <circle fill="#fff" stroke="none" cx="46" cy="20" r="6">
            <animate
            attributeName="opacity"
            dur="1s"
            values="0;1;0"
            repeatCount="indefinite" 
            begin="0.3"/>     
          </circle>
          </svg>
        </button>
        <button type="button" id="rechazar-Andres" name="invitado_id" value="AndresGomez" class="rechazar">
            <svg id="rechazar-svgandres" class="rechazar-svg response-svg" version="1.1" viewBox="0 0 181.44 181.43" xmlns="http://www.w3.org/2000/svg">
            <defs>
            <clipPath id="577a602fa9">
            <path d="m3 4h516v514.39h-516z"/>
            </clipPath>
            </defs>
            <metadata>
            <rdf:RDF>
            <cc:Work rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
              <dc:title/>
            </cc:Work>
            </rdf:RDF>
            </metadata>
            <g transform="translate(34.777 -51.84)">
            <g transform="matrix(.35278 0 0 .35278 -36.182 50.389)" clip-path="url(#577a602fa9)">
            <path d="m317.32 261.29 189.34-189.36c15.516-15.516 15.516-40.672 0-56.184-15.516-15.516-40.668-15.516-56.18 0l-189.34 189.36-189.34-189.36c-15.516-15.516-40.664-15.516-56.18 0-15.512 15.516-15.512 40.668 0 56.184l189.34 189.36-189.34 189.36c-15.512 15.516-15.512 40.668 0 56.18 7.7578 7.7578 17.922 11.637 28.09 11.637s20.332-3.8789 28.09-11.637l189.34-189.36 189.34 189.36c7.7578 7.7578 17.922 11.637 28.09 11.637s20.332-3.8789 28.09-11.637c15.516-15.516 15.516-40.668 0-56.18z" fill="#f9eae6"/>
            </g>
            </g>
            </svg>

            <svg class="loader-svg htmx-indicator" fill="#fff" version="1.1" id="svg-load" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 40 40" enable-background="new 0 0 0 0" xml:space="preserve">
            <circle fill="#fff" stroke="none" cx="6" cy="20" r="6">
              <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin="0.1"/>    
            </circle>
            <circle fill="#fff" stroke="none" cx="26" cy="20" r="6">
              <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite" 
              begin="0.2"/>       
            </circle>
            <circle fill="#fff" stroke="none" cx="46" cy="20" r="6">
              <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite" 
              begin="0.3"/>     
            </circle>
            </svg>

        </button>
      </li>
    </ul>
    <picture class="deco-invitados deco-invitados-inferior">
        <source srcset="/img/SeparadorHorizontal_1.png">
        <img src="/img/SeparadorHorizontal_1.png" alt="Decoración floral" loading="lazy">
    </picture>
</form>


<style>

    :global(.response-svg .htmx-request){
        opacity: 0;
    }
    :global(.response-svg.htmx-request){
        opacity: 0;
    }
    .pareja-container{
        position: relative;
        left: 10%;
        top: 0%;
        width: 40%;
        height: 90%;
        border-bottom-left-radius: 50% 25%;
        border-bottom-right-radius: 50% 20%;
    }
    .pareja-rsvp img{
        position: relative;
        top: -10%;
    }
    .pareja-rsvp img{
		object-fit: cover;	
        width: 100%;
    }

    .deco-grande {
        position: relative;
    }
    .deco-grande img{
		object-fit: cover;
        width: 15vw
    }

    .container-deco-grande-izq{
        position: absolute;
        top: 58%;
        left: 8%;
        width: 30vw;
    }
    .deco-grande-izq {
        left: 4%;
    }
    .deco-grande-izq img {
        rotate: x 180deg;
        transform: rotate(85deg);
    }

    .container-deco-grande-der{
        position: absolute;
        top: 58%;
        left: 34%;        
        width: 17vw;
    }
    .deco-grande-der {
        left: 6%;
    }
    .deco-grande-der img {
        rotate: -100deg;
    }

    h1{
        position: absolute;
        top: 20%;
        right: 10%;
        color: var(--accent-light);
        font-size: 10vw;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
    }

    .deco-peque {
        position:absolute;
    }
    .deco-peque img {
		object-fit: cover;	
        width: 10vw;
    }
    .deco-peque-der {
        top: 29%;
        right: 34%;
    }
    .deco-peque-der img {
        rotate: -90deg;

    }
    .deco-peque-izq {
        top: 30%;
        right: 4.9%;
    }
    .deco-peque-izq img {
        rotate: 114deg;
    }

    p{
        position: absolute;
        top: 45%;
        right: 12%;
        color: var(--accent);
        font-size: 1.5vw;
        font-weight: 500;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
    }
    
    .seccion-invitados{
        position: absolute;
        top: 55%;
        right: 12%;
        display: flex;
        flex-direction: column;
    }
    
    .deco-invitados {
        align-self: center;
    }
    .deco-invitados img {
        object-fit: cover;
        width: 25vw;
    }
    .deco-invitados-superior{
        margin-bottom: -0.2vw;
    }
    .deco-invitados-superior img{
        rotate: 180deg;
    }

    ul {
        margin: 0;
        padding-left: 0;
        width: 25vw;
    }
    ul :global(li) {
        display: flex;
        list-style: none;
        font-size: calc(var(--vh) * 2.2);
        font-weight: 500;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
        color: var(--accent-light);
        margin-bottom: calc(var(--vh) * 2);
        height: calc(var(--vh) * 4);
    }
    ul :global(li:last-child) {
        margin-bottom: 0;
    }
    ul :global(li > span) {
        flex-grow: 1;
        padding-top: 4px;
        padding-left: 15px;
        background-color: var(--secondary-light);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    ul :global(li button) {
        border: none;
        width: 50px;
        color: var(--secondary-light) 
    }

    ul :global(li .aceptar){
        background-color: var(--accept); 
    }
    ul :global(li .aceptarSeleccionado) {
        cursor: default;
        width: 7rem;
        background-color: var(--accept-selected); 
        outline: solid 2px rgba(255, 255, 255, 0.5);;
        outline-offset: -3px;
    }
    ul :global(li button .rechazar-svg) {
        pointer-events: none;
        margin-top: calc(var(--vh) * .7);
        width: calc(var(--vh) * 2);
    }
    ul :global(li .rechazar) {
        background-color: var(--decline);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    ul :global(li .rechazarSeleccionado) {
        cursor: default;
        width: 7rem;
        background-color: var(--decline-selected); 
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        outline: solid 2px rgba(255, 255, 255, 0.5);
        outline-offset: -3px;
    }
    ul :global(li button .aceptar-svg) {
        pointer-events: none;
        margin-top: calc(var(--vh) * .7);
        width: calc(var(--vh) * 2);
    }
    ul :global(li button .loader-svg) {
        pointer-events: none;
        display:inline-block;
        position: relative;
        bottom: calc(4px + var(--vh) * 2);
        right: 6px;
        width: 45px; 
        height: 25px;
    }
    ul :global(li button > span) {
        font-size: calc(var(--vh) * 1.8);
        opacity: .9;
    }
    .enviar-confirmacion-form{
        align-self: center;
    }
    .enviar-confirmacion{
        align-self: center;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        color: var(--third);
        background-color: var(--accent-light);
        border: none;
        width: 6em;
        height: 2em;
        border-radius: 1em;
    }
    
    
	@media (max-width: 1366px){
        .pareja-container{
            width: 39%;
            height: 80%;
        }    
        .container-deco-grande-izq{
            top: 43%;
        }
        .container-deco-grande-der{
            top: 43%;
        }

        ul :global(li button .loader-svg) {
            bottom: calc(7px + var(--vh) * 2);
        }
    }
    
	@media (max-width: 430px){
        .pareja-container{
            left: 0px;
            top: 0px;
            width: 100vw;
            height: calc(var(--vh) * 45);
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .pareja-rsvp img{
            top: -15%;
        }

        .deco-grande img{
            width: auto;
            height: calc(var(--vh) * 27);
        }

        .container-deco-grande-izq{
            top: 23%;
            left: 0px;
            width: calc(var(--vh) * 40);
        }
        .deco-grande-izq {
            left: 4%;
        }

        .container-deco-grande-der{
            top: 22%;
            left: auto;
            right: 0px;        
            width: calc(var(--vh) * 40);
        }
        .deco-grande-der {
            left: 43%;
        }

        h1{
            position: absolute;
            top: 48%;
            right: auto;
            width: 100%;
            text-align: center;
            font-size: 3.5em;
        }

        .deco-peque {
            position:absolute;
        }
        .deco-peque img {
            width: 4em;
        }
        .deco-peque-der {
            top: calc(48% + 1.5em);
            right: calc(50% + 3.28em);
        }
        .deco-peque-izq {
            top: calc(48% + 1.7em);
            right: calc(50% - 7em);
        }

        p{
            top: 57%;
            right: auto;
            width: 100%;
            text-align: center;
            font-size: calc(var(--vh) * 1.8);
        }
        
        .seccion-invitados{
            position: absolute;
            top: 59.5%;
            right: 10vw;
        }
        
        .deco-invitados img {
            width: 60vw;
        }
        .deco-invitados-superior{
            margin-bottom: -0.5vw;
        }

        ul {
            margin: 0;
            padding-left: 0;
            width: 80vw;
        }
        ul :global(li){
            display: flex;
            list-style: none;
            font-size: calc(var(--vh) * 1.5);
            margin-bottom: .5em;
            height: calc(var(--vh) * 4);
        }
        ul :global(li:last-child) {
            margin-bottom: 0;
        }
        ul :global(li > span) {
            flex-grow: 1;
            padding-top: calc(var(--vh) * .65);
            padding-left: 15px;
        }
        ul :global(li button) {
            border: none;
            width: 50px;
            color: var(--secondary-light) 
        }
        ul :global(li button .aceptar-svg) {
            margin-top: calc(var(--vh) * .9);
            width: 16px;
        }
        ul :global(li button .rechazar-svg) {
            margin-top: calc(var(--vh) * .9);
            width: 14px;
        }

        ul :global(li button .loader-svg) {
            bottom: calc(25px - var(--vh) * .3);
        }
    }
</style>
