---
const base_url = import.meta.env.PUBLIC_URL;

const { tipo, id } = Astro.props;
let tipoInvitacion;
switch(tipo) {
    case 'I':
    case 'i':
        tipoInvitacion = "verificarInvitado";
        break;
    case 'F':
    case 'f':
        tipoInvitacion = "verificarFamilia";
        break;
    default:
        tipoInvitacion = "invitados";
}

---
<div class="pareja-container">
    <picture class="pareja-rsvp">
        <source srcset="/img/FotoEsquina.png">
        <img src="/img/FotoEsquina.png" alt="Pareja abrazandose" >
    </picture>
</div>

<div class="container-deco-grande-izq">
    <picture class="deco-grande deco-grande-izq">
        <source srcset="/img/DecoGrandeRSVP.png">
        <img src="/img/DecoGrandeRSVP.png" alt="Decoración floral" loading="lazy">
    </picture>
</div>

<div class="container-deco-grande-der">
    <picture class="deco-grande deco-grande-der">
        <source srcset="/img/DecoGrandeRSVP.png">
        <img src="/img/DecoGrandeRSVP.png" alt="Decoración floral" loading="lazy">
    </picture>
</div>

<picture class="deco-peque deco-peque-der">
    <source srcset="/img/DecoPequeRSVP.png">
    <img src="/img/DecoPequeRSVP.png" alt="Decoración floral" loading="lazy">
</picture>
<picture class="deco-peque deco-peque-izq">
    <source srcset="/img/DecoPequeRSVP.png">
    <img src="/img/DecoPequeRSVP.png" alt="Decoración floral" loading="lazy">
</picture>
<h1>
    RSPV
</h1>

<p>¿Vienes a celebrar con nosotros?</p>

{id &&
    <form class="seccion-invitados" id="enviar-confirmacion-form">
        <picture class="deco-invitados deco-invitados-superior">
            <source srcset="/img/SeparadorHorizontal_1.png">
            <img src="/img/SeparadorHorizontal_1.png" alt="Decoración floral" loading="lazy">
        </picture>
        <ul hx-get={`${base_url}/${tipoInvitacion}/${id}`} hx-trigger="load">
        </ul>
        <picture class="deco-invitados deco-invitados-inferior">
            <source srcset="/img/SeparadorHorizontal_1.png">
            <img src="/img/SeparadorHorizontal_1.png" alt="Decoración floral" loading="lazy">
        </picture>
    </form>
}


<style>

    :global(.response-svg .htmx-request){
        opacity: 0;
    }
    :global(.response-svg.htmx-request){
        opacity: 0;
    }
    .pareja-container{
        position: relative;
        left: 10%;
        top: 0%;
        width: 40%;
        height: 90%;
        border-bottom-left-radius: 50% 25%;
        border-bottom-right-radius: 50% 20%;
    }
    .pareja-rsvp img{
        position: relative;
        top: -10%;
    }
    .pareja-rsvp img{
		object-fit: cover;	
        width: 100%;
    }

    .deco-grande {
        position: relative;
    }
    .deco-grande img{
		object-fit: cover;
        width: 15vw
    }

    .container-deco-grande-izq{
        position: absolute;
        top: 58%;
        left: 8%;
        width: 30vw;
    }
    .deco-grande-izq {
        left: 4%;
    }
    .deco-grande-izq img {
        rotate: x 180deg;
        transform: rotate(85deg);
    }

    .container-deco-grande-der{
        position: absolute;
        top: 58%;
        left: 34%;        
        width: 17vw;
    }
    .deco-grande-der {
        left: 6%;
    }
    .deco-grande-der img {
        rotate: -100deg;
    }

    h1{
        position: absolute;
        top: 20%;
        right: 10%;
        color: var(--accent-light);
        font-size: 10vw;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
    }

    .deco-peque {
        position:absolute;
    }
    .deco-peque img {
		object-fit: cover;	
        width: 10vw;
    }
    .deco-peque-der {
        top: 29%;
        right: 34%;
    }
    .deco-peque-der img {
        rotate: -90deg;

    }
    .deco-peque-izq {
        top: 30%;
        right: 4.9%;
    }
    .deco-peque-izq img {
        rotate: 114deg;
    }

    p{
        position: absolute;
        top: 45%;
        right: 12%;
        color: var(--accent);
        font-size: 1.5vw;
        font-weight: 500;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
    }
    
    .seccion-invitados{
        position: absolute;
        top: 55%;
        right: 12%;
        display: flex;
        flex-direction: column;
    }
    
    .deco-invitados {
        align-self: center;
    }
    .deco-invitados img {
        object-fit: cover;
        width: 25vw;
    }
    .deco-invitados-superior{
        margin-bottom: -0.2vw;
    }
    .deco-invitados-superior img{
        rotate: 180deg;
    }

    ul {
        margin: 0;
        padding-left: 0;
        width: 25vw;
    }
    ul :global(li) {
        display: flex;
        list-style: none;
        font-size: calc(var(--vh) * 2.2);
        font-weight: 500;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
        color: var(--accent-light);
        margin-bottom: calc(var(--vh) * 2);
        height: calc(var(--vh) * 4);
    }
    ul :global(li:last-child) {
        margin-bottom: 0;
    }
    ul :global(li > span) {
        flex-grow: 1;
        padding-top: 4px;
        padding-left: 15px;
        background-color: var(--secondary-light);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    ul :global(li button) {
        border: none;
        width: 50px;
        color: var(--secondary-light) 
    }
    
    
    ul :global(li .aceptar){
        background-color: var(--accept); 
    }
    ul :global(li .aceptarSeleccionado) {
        cursor: default;
        width: 7rem;
        background-color: var(--accept-selected); 
        outline: solid 2px rgba(255, 255, 255, 0.5);;
        outline-offset: -3px;
    }    
    ul :global(li button .rechazar-svg) {
        pointer-events: none;
        margin-top: calc(var(--vh) * .7);
        width: calc(var(--vh) * 2);
    }
    ul :global(li .rechazar) {
        background-color: var(--decline);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    ul :global(li .rechazarSeleccionado) {
        cursor: default;
        width: 7rem;
        background-color: var(--decline-selected); 
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        outline: solid 2px rgba(255, 255, 255, 0.5);;
        outline-offset: -3px;
    }
    ul :global(li button .aceptar-svg) {
        pointer-events: none;
        margin-top: calc(var(--vh) * .7);
        width: calc(var(--vh) * 2);
    }
    ul :global(li button .loader-svg) {
        pointer-events: none;
        display:inline-block;
        position: relative;
        bottom: calc(4px + var(--vh) * 2);
        right: 6px;
        width: 45px; 
        height: 25px;
    }
    ul :global(li button > span) {
        font-size: calc(var(--vh) * 1.8);
        opacity: .9;
    }
    .enviar-confirmacion-form{
        align-self: center;
    }
    .enviar-confirmacion{
        align-self: center;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        color: var(--third);
        background-color: var(--accent-light);
        border: none;
        width: 6em;
        height: 2em;
        border-radius: 1em;
    }
    
    
	@media (max-width: 1366px){
        .pareja-container{
            width: 39%;
            height: 80%;
        }    
        .container-deco-grande-izq{
            top: 43%;
        }
        .container-deco-grande-der{
            top: 43%;
        }

        ul :global(li button .loader-svg) {
            bottom: calc(7px + var(--vh) * 2);
        }
    }
    
	@media (max-width: 430px){
        .pareja-container{
            left: 0px;
            top: 0px;
            width: 100vw;
            height: calc(var(--vh) * 45);
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .pareja-rsvp img{
            top: -15%;
        }

        .deco-grande img{
            width: auto;
            height: calc(var(--vh) * 27);
        }

        .container-deco-grande-izq{
            top: 23%;
            left: 0px;
            width: calc(var(--vh) * 40);
        }
        .deco-grande-izq {
            left: 4%;
        }

        .container-deco-grande-der{
            top: 22%;
            left: auto;
            right: 0px;        
            width: calc(var(--vh) * 40);
        }
        .deco-grande-der {
            left: 43%;
        }

        h1{
            position: absolute;
            top: 48%;
            right: auto;
            width: 100%;
            text-align: center;
            font-size: 3.5em;
        }

        .deco-peque {
            position:absolute;
        }
        .deco-peque img {
            width: 4em;
        }
        .deco-peque-der {
            top: calc(48% + 1.5em);
            right: calc(50% + 3.28em);
        }
        .deco-peque-izq {
            top: calc(48% + 1.7em);
            right: calc(50% - 7em);
        }

        p{
            top: 57%;
            right: auto;
            width: 100%;
            text-align: center;
            font-size: calc(var(--vh) * 1.8);
        }
        
        .seccion-invitados{
            position: absolute;
            top: 59.5%;
            right: 10vw;
        }
        
        .deco-invitados img {
            width: 60vw;
        }
        .deco-invitados-superior{
            margin-bottom: -0.5vw;
        }

        ul {
            margin: 0;
            padding-left: 0;
            width: 80vw;
        }
        ul :global(li){
            display: flex;
            list-style: none;
            font-size: calc(var(--vh) * 1.5);
            margin-bottom: .5em;
            height: calc(var(--vh) * 4);
        }
        ul :global(li:last-child) {
            margin-bottom: 0;
        }
        ul :global(li > span) {
            flex-grow: 1;
            padding-top: calc(var(--vh) * .65);
            padding-left: 15px;
        }
        ul :global(li button) {
            border: none;
            width: 50px;
            color: var(--secondary-light) 
        }
        ul :global(li button .aceptar-svg) {
            margin-top: calc(var(--vh) * .9);
            width: 16px;
        }
        ul :global(li button .rechazar-svg) {
            margin-top: calc(var(--vh) * .9);
            width: 14px;
        }

        ul :global(li button .loader-svg) {
            bottom: calc(25px - var(--vh) * .3);
        }
    }
    
</style>