---
import Layout from '../../layouts/Layout.astro';
export function getStaticPaths() {
  return [
    {params: {invitado: 'C941D84E-20E9-11EE-A7FD-02F233CDF429'}},
    {params: {invitado: 'D2890F0A-20EA-11EE-A7FD-02F233CDF429'}},
  ];
}

const { invitado } = Astro.params;

const characterRequest = await fetch(`https://weddingback-daniel7lizarazo.b4a.run/invitados/${invitado}`);
const characterInfo = await characterRequest?.json();
---
<Layout>
	<main>
		<h1>Daniel y Ayde se van a <span class="text-gradient">casar Xddddd</span></h1>

		{invitado && <p>bienvenido {invitado}</p>}
		{characterInfo && <p>y también bienvenido {characterInfo.Nombre}</p>}
		vas a venir o que?
		<input type="checkbox">
		<button>Que si que no</button>

		
	</main>
</Layout>