<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="Invitacion" content="Invitación a nuestra boda">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>D&A</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

	:root {
		--vh: 1vh;
		--accent: #6B1C18;
		--accent-light: #946161;
		--basic: #895F5F;
		--basic-light: #AF7576;
		--secondary: #D4B2A8;
		--secondary-light: #FDF8E5;
		--third: #F9EAE6;
		--accept: #aaaf9a;
		--accept-selected: #829c3f;
		--decline: #b8817d;
		--decline-selected: #9e130c;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	/* body {
		min-height: 100vh;
		min-height: -webkit-fill-available;	
	}
	html {
		min-height: -webkit-fill-available;	
	} */
	html, h1, h4, span, div, p {
		scroll-behavior: smooth;
		display: block;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	body {
		margin: 0;
		padding: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	button {
		cursor: pointer;
	}
	
</style>

<script>

	

</script>
